/* ----- Coiki HTML -----*/
@import url(https://fonts.googleapis.com/css?family=Marcellus);
.font-marcellus {
    font-family: 'Marcellus', serif;
}
.coiki-sheet {
    max-width 1280px;
    margin: 0 auto;
}
#coikibg {
    background: url(/static/images/coiki/bg.png) no-repeat;
    background-position: 50% 0;
}
#home-logo {
    width: 810px;
    height: auto;
    margin: 60px auto auto;
    text-align:center;
}
#motto {
    font-size: 18px;
    line-height:40px;
    display:inline;
    font-family: 'Marcellus', serif;
}
#motto2 {
    font-size: 24px;
    line-height:60px;
    font-family: 'Marcellus', serif;
}
#motto-nosharing {
    font-size: 24px;
    line-height: 30px;
    width: 700px;
    margin: 50px auto;
    color: green;
}
#action {
    margin:25px 0px;
}
#action div {
    width:50%;
}
#action span a {
    text-decoration:none;
    color: black;
}
#slipper {
    margin:0px 20px;
}
#supporters {
    text-align: center; margin: 320px auto 20px; font-size: 12px; width: 100%;
}
/* ----- Coiki_Hesapla HTML -----*/

.header {
    position: fixed;
    z-index: 3000;
    top: 20px;
    left: 0;
    width: 100%;
    padding-top: 20px;
    float: left;
    display: block;
    color:#ef554b;
}
.header h2{
    font-weight:500 !important;
}
.number-text {
    margin-left:20px;
}
.question-text {
    margin-left:20px;
}
.question-div {
    margin:80px auto auto; width:1024px; height:500px;
    position: relative;
}
.next-text {
    position:fixed;
    right:0px;
    top:300px;
    width:57px; height:60px;
    background-image: url("/static/images/coiki/arrow.png");
    background-repeat: no-repeat;
    background-position: right 100%;
    cursor:pointer;
}
.next-text:hover {
    background-image: url("/static/images/coiki/arrow.png");
    background-position: right top;
}
.back-text {
    left:0px;
    background-image: url("/static/images/coiki/arrow-back.png");
}
.back-text:hover {
    background-image: url("/static/images/coiki/arrow-back.png");
    background-position: right top;
}
.displayNone {
    display:none;
}
.display_none_option {
    display:none !important;
}
.display_show_option {
    display:block !important;
}
.select-options {
    position:absolute; top:190px; left:50%; margin-left:-250px;
}
.select-yours-text {
    text-align:center; margin-top:50px; font-size:13px;
}
.age-input {
    position:absolute;
    left:50%;
    margin-left:-30px;
    top:40px;
    width:60px;
    height:50px;
    display: block;
    text-align:center;
    font-size: 48px;
    color: white;
    vertical-align: middle;
    background-color: transparent;
    background-image: none;
    border: 0px;
}
.li_input_number_text {
    width: 15px; text-align: center;
    font-size:14px;
}

/* ----- GENDER ----- */

.checkbox_wrapper {
    position:absolute;
    left:50%;
    margin-left:-230px;
    top:100px;
    width:200px;
    height:209px;
}
input[type="radio"].gender {
    opacity:0;
    height: 209px;
    width: 200px;
    position: absolute;
    top: 0;
    z-index: 2;
}
input[type="radio"].gender + label{
    height: 209px;
    width: 200px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 0;
    z-index: 1;
}
input[type="radio"].gender:checked + label{
    height: 209px;
    width: 200px;
    display:inline-block;
    padding: 0 0 0 0px;
}
input[type="radio"]#girl-checkbox {
    left: 50%;
    margin-left:-100px;
}
input[type="radio"]#boy-checkbox {
    left: 50%;
    margin-left:150px;
}
input[type="radio"] + label#girl{
    background:url('/static/images/coiki/ek-gender.png') no-repeat;
    background-position: left top;
    left: 50%;
    margin-left:-100px;
}
input[type="radio"] + label#boy{
    background:url('/static/images/coiki/ek-gender.png') no-repeat;
    background-position: left bottom;
    left: 50%;
    margin-left:150px;
}
input[type="radio"]:checked + label#girl{
    background:url('/static/images/coiki/ek-gender.png') no-repeat;
    background-position: right top;
    left: 50%;
    margin-left:-100px;
}
input[type="radio"]:checked + label#boy{
    background:url('/static/images/coiki/ek-gender.png') no-repeat;
    background-position: right bottom;
    left: 50%;
    margin-left:150px;
}
#age-div {
    position:absolute; left:50%; margin-left:-75px;
    top:350px; width:150px; height:150px;
    border-radius: 50%; background-color:black;
}
#age-text {
    position:absolute; bottom:30px;left:35px;
}
#kep-img-style {
    position: absolute; left: 110px; top: 100px; z-index:1;
}

/* ----- ELECTRONICS ----- */

#electronic {
    margin: 150px auto 0px;
    width: 560px;
    height: 320px;
    list-style-type:none;
    padding-left:0px;
}
#electronic li {
    width:100px;
    height:100px;
    margin:30px 20px;
    float:left;
}
#electronic li div {
    font-size:13px;
    text-align:center;
}
input[type="checkbox"] {
    opacity:0;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
}
input[type="checkbox"] + label {
    width:100px;
    height:100px;
    display:inline-block;
}
input[type="checkbox"] + label#lcd-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left top;
}
input[type="checkbox"] + label#computer-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% top;
}
input[type="checkbox"] + label#laptop-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: right top;
}
input[type="checkbox"] + label#keyboard-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left 40%;
}
input[type="checkbox"] + label#mouse-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% 40%;
}
input[type="checkbox"] + label#harddisk-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: right 40%;
}
input[type="checkbox"] + label#printer-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% 80%;
}
input[type="checkbox"] + label#network-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left 80%;
}

/* ----- ACTIVE ----- */


input[type="checkbox"]:checked + label#lcd-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left 20%;
}
input[type="checkbox"]:checked + label#computer-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% 20%;
}
input[type="checkbox"]:checked + label#laptop-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: right 20%;
}
input[type="checkbox"]:checked + label#keyboard-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left 60%;
}
input[type="checkbox"]:checked + label#mouse-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% 60%;
}
input[type="checkbox"]:checked + label#harddisk-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: right 60%;
}
input[type="checkbox"]:checked + label#printer-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: 50% 100%;
}
input[type="checkbox"]:checked + label#network-label{
    background:url('/static/images/coiki/ek-devices.png') no-repeat;
    background-position: left 100%;
}

/* ----- VEHICLE ----- */

#vehicle {
    margin:150px auto 0px;
    width:570px;
    height:320px;
    list-style-type:none;
    padding-left:0px;
}
#vehicle li {
    width:150px;
    height:100px;
    margin:30px 20px;
    float:left;
    text-align:center;
}
#vehicle li div {
    font-size:12px;
    text-align:center;
}
#vehicle input[type="checkbox"] {
    opacity:0;
    height: 100px;
    width: 150px;
    position: absolute;
    z-index: 2;
}
#vehicle input[type="checkbox"] + label {
    width:150px;
    height:100px;
    display:inline-block;
}
input[type="checkbox"] + label#bike-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: left top;
}
input[type="checkbox"] + label#elect_bike-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: 50% top;
}
input[type="checkbox"] + label#scooter-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: right top;
}
input[type="checkbox"] + label#elect_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: left 67%;
}
input[type="checkbox"] + label#diesel_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: 50% 67%;
}
input[type="checkbox"] + label#fuel_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: right 67%;
}

/* ----- ACTIVE ----- */

input[type="checkbox"]:checked + label#bike-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: left 33%;
}
input[type="checkbox"]:checked + label#elect_bike-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: 50% 33%;
}
input[type="checkbox"]:checked + label#scooter-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: right 33%;
}
input[type="checkbox"]:checked + label#elect_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: left 100%;
}
input[type="checkbox"]:checked + label#diesel_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: 50% 100%;
}
input[type="checkbox"]:checked + label#fuel_car-label{
    background:url('/static/images/coiki/ek-vehicles.png') no-repeat;
    background-position: right 100%;
}

/* ----- WORK ----- */

#work {
    margin:150px auto 0px;
    width:570px;
    height:240px;
    list-style-type:none;
    padding-left:0px;
}
#work li {
    width:150px;
    height:200px;
    margin:20px;
    float:left;
}
#work li div {
    font-size:12px;
    text-align:center;
}
#work input[type="radio"].work {
    opacity:0;
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: 2;
}
#work input[type="radio"].work + label {
    width:150px;
    height:200px;
    display:inline-block;
}
input[type="radio"] + label#not_working-label{
    background:url('/static/images/coiki/ek-work.png') no-repeat;
    background-position: left top;
}
input[type="radio"] + label#working-label{
    background:url('/static/images/coiki/ek-work.png') no-repeat;
    background-position: 46% top;
}
input[type="radio"] + label#working_own-label{
    background:url('/static/images/coiki/ek-work.png') no-repeat;
    background-position: right top;
}

/* ----- ACTIVE ----- */

input[type="radio"]:checked + label#not_working-label{
    background-position: left bottom;
}
input[type="radio"]:checked + label#working-label{
    background-position: 46% bottom;
}
input[type="radio"]:checked + label#working_own-label{
    background-position: right bottom;
}


/* ----- DROPDOWN SELECT ----- */

.dropcontainer_demo2 {
    position:relative;
    font-size: 16px;
    color: #777;
    }

.trigger_demo2 {
    color: #777;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background: #fff url(/static/images/coiki/select-arrow-open.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.trigger_demo2:hover {
    color: #777;
    background: #f5f5f5 url(/static/images/coiki/select-arrow-open.png) 98% center no-repeat;
    }

.activetrigger_demo2 {
    color: #777;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background: #f5f5f5 url(/static/images/coiki/select-arrow-close.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.activetrigger_demo2:hover {
    background: #f5f5f5 url(/static/images/coiki/select-arrow-close.png) 98% center no-repeat;
    color: #777;
    }

.activetrigger_demo2:active {
    background: #f5f5f5 url(/static/images/coiki/select-arrow-close.png) 98% center no-repeat;
    color: #777;
    }

.dropcontainer_demo2 ul {
    font-size: 16px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.dropcontainer_demo2 ul li {
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.dropcontainer_demo2 ul li:hover {
    background: #f5f5f5;
    outline: none;
    }

.dropcontainer_demo2 ul li:first-child {
    display: none;
    }

.dropcontainer_demo2 ul li:last-child {
    border-bottom: none;
    }

.dropdownhidden_demo2 {
    display: none;
    }

.dropdownvisible_demo2 {
    height: auto;
    }

.dropdownvisible_demo2 {
    height: 200px;
    overflow-y: scroll;
}

/* Import Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

/* Flexible Grid */

.container {padding: 0;}
.row {width: 100%;max-width: 1140px;min-width: 500px;margin: 0 auto;position: relative;overflow: hidden;}
.sixcol {margin-right: 3.09090%;float: left;min-height: 1px;}
.row .sixcol {width: 48.45455%;}
.row .twelvecol {width: 100%;float: left;}
.last {margin-right: 0px;}

/* Main Body Styling */

body {margin: 0;padding: 0;background: #fff;sans-serif;color: #777;letter-spacing: 0px;font-size: 1.0em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}
section.top {margin-top: 60px;}
section.demo {background: #f5f5f5;padding: 20px 0px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.content {padding: 0 20px;}

/* Text Styles */

a {color: #fb9e25; text-decoration: none;}
a:hover {color: #fb9e25;}
p {font-weight: 300;}
h1 {font-weight: 300;font-size: 1.6em;border-bottom: 1px dashed #ccc;display: inline-block;margin: 30px 0;}
.label {color: #777;text-transform: uppercase;margin-left: 10px;font-size: 0.8em;margin-bottom: 5px;display: block;}

/* Navigation */

nav ul {padding: 0 20px;}
nav li {list-style: none;float: left; margin-right: 20px;padding: 10px;font-weight: 300;}
nav li.current {background: #f5f5f5; border: 1px solid #ccc; border-bottom: none;}
nav li.current a {color: #777; cursor: default;}

/* Mobile Grid Styles

@media handheld, only screen and (max-width: 780px) {
body {font-size: 16px;-webkit-text-size-adjust: none;}
.row, body, .container {width: 100%;min-width: 0;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
.row .sixcol, .row .twelvecol {width: auto;float: none;margin-left: 0px;margin-right: 0px;}
}
*/
/* 720px and below

@media (max-width: 720px) {
.trigger, .activetrigger, .dropcontainer ul, .trigger_demo2, .activetrigger_demo2, .dropcontainer_demo2 ul {width: 100% !important;}
}
 */