#footer {
    margin-top:50px;
}
.jumbotron {
margin-top: 20px;
}

#map-canvas {
    height: 500px;
    margin: 0px;
    padding: 0px
}

#panel {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#map{
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}


.padding15 {
    padding:15px;
}
.searchTable {
    border:0 !important; margin-bottom:0;
}
.searchTable td{
    border:0 !important;
}
.sharedItems {
    border:1px solid #d2d2d2; width:auto;
    height:350px;
    margin:10px auto;
    overflow:hidden;
    text-align:center;
}
.sharedItemsImage {
    margin-top:5px;
    width:100%;
    height:150px;
}
.sharedItemsImage img{
    height:100%;
}
.sharedItemsTitle {
    font-size:14px; padding:10px; border-bottom:1px solid #d2d2d2;
    line-height:20px;
}
.sharedItemsExplanation {
    font-size:12px; padding:0 5px;
    height:100px;
    overflow:hidden;
}
.sharedItems .buttonStyle {
    margin-top:10px;
    width:100%;
}
.grayLine {
    border-bottom: 1px solid #dddddd;
    margin:50px auto 20px;
}
.socialDivText {
    width:100px; height:100px; border-radius:50%;
    overflow:hidden; margin:0 auto;
}
.socialDivs {
    padding:10px; text-align:center;
    color: #333333;
}
.footerUl {
    list-style-type: none;
    padding-left: 0;
}
.footerUl li {
    color:#333333;
}
.width100 {
    width:100%;
    margin:10px auto;
}

.unread-message-bg {
    background-color: rgba(225,233,179,0.4);
}
.message-div-bg {
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
}
.message-div {
    border:0px;
}
.message-div:hover {
    background-color: #e1e9b3 !important;
}

.specialstyle {
    margin-top:40px;
}

.displaywhen767 {
    display:none;
}

.login-info-image {
    max-width:740px;
    height:auto;
    margin:15px auto 0px;
    padding:20px;
    background-color:#E9E0D9;
    border:2px solid #000;
    border-radius:15px;
}
.login-image-style {
    background-image:url('../images/login-img.png');
    margin:0 auto;
    width:69px;
    height:68px;
}

@media (min-width: 992px) and (max-width:1200px) {
  .nodisplay {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width:767px) {
    .displaywhen767 {
        display:block !important;
    }
    .hideInfo {
        display: none !important;
    }
    .width-40 {
        width:38%;
        float:left;
        margin-right:10px;
    }
}
@media (min-width: 320px) and (max-width:991px) {
  .nodisplay600 {
    display: none !important;
  }
  .specialstyle {
    margin-top:0px !important;
  }
}
@media (min-width: 320px) and (max-width:600px) {
   #hideInfo {
        display: none !important;
    }
}

form textarea#why, textarea#about {
     height: 100px;
}