#footer {
    margin-top:50px;
}
.jumbotron {
margin-top: 20px;
}

#map-canvas {
    height: 500px;
    margin: 0px;
    padding: 0px
}
#panel {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#map{
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}

.padding15 {
    padding:15px;
}
.searchTable {
    border:0 !important; margin-bottom:0;
}
.searchTable td{
    border:0 !important;
}
.sharedItems {
    border:1px solid #d2d2d2; width:auto;
    height:350px;
    margin:10px auto;
    overflow:hidden;
    text-align:center;
}
.sharedItemsImage {
    margin-top:5px;
    width:100%;
    height:150px;
}
.sharedItemsImage img{
    height:100%;
}
.sharedItemsTitle {
    font-size:14px; padding:10px; border-bottom:1px solid #d2d2d2;
    line-height:20px;
}
.sharedItemsExplanation {
    font-size:12px; padding:0 5px;
    height:100px;
    overflow:hidden;
}
.sharedItems .buttonStyle {
    margin-top:10px;
    width:100%;
}
.socialDivText {
    width:100px; height:100px; border-radius:50%;
    overflow:hidden; margin:0 auto;
}
.socialDivs {
    padding:10px; text-align:center;
    color: #333333;
}
.footerUl {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.footerUl li {
    color:#c6c6c6;
}
.width100 {
    width:100%;
    margin:10px auto;
}

.unread-message-bg {
    background-color: rgba(225,233,179,0.4);
}
.message-div-bg {
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
}
.message-div {
    border:0px;
}
.message-div:hover {
    background-color: #e1e9b3 !important;
}

.specialstyle {
    margin-top:40px;
}

.displaywhen767 {
    display:none;
}
.displaywhen480 {
    display:none;
}


.login-info-image {
    max-width:740px;
    height:auto;
    margin:15px auto 0px;
    padding:20px;
    background-color:#E9E0D9;
    border:2px solid #000;
    border-radius:15px;
}
.login-image-style {
    background-image:url('../images/login-img.png');
    margin:0 auto;
    width:69px;
    height:68px;
}

form textarea#why, textarea#about {
     height: 100px;
}

.number-of-shares-text {
    text-decoration:none !important;
    color:#333333 !important;
}
.number-of-shares-text span {
    font-size:52px;
}
.number-of-shares-text span:hover {
    text-decoration:underline !important;
}

.blue_line_ek {
    background-color:#30bcdf;
    position:relative;
    width:162%;
    height:auto;
    overflow:hidden;
    margin-bottom:20px;
    left:-32%;
}
.blue_line_header {
    color:#000000;
}
.sub_menu_text {
    font-size:16px;
}
.sub_menu_text_active {
    color:#41c3c1;
}
.search_form_div {
    position:relative;
    margin:0px auto;
    max-width:810px;
    padding:0px 15px;
}
.menu_area_border {
    padding:30px;
    border:1px solid #dddddd;
    border-top:0px;
    overflow:hidden;
}
#header_profile_photo_a {
    padding:10px;
}
#header_profile_photo_a img {
    width:30px;
    height:30px;
    border-radius:50%;
}
.index_search_area {
    position:relative;
    margin:0px auto;
    max-width:810px;
    padding:0px 15px 30px 15px;
    color:white;
    border-radius:10px;
}
#index_search_button {
    background-color: #E18F8B;
    border-color: #CC7F7F;
    padding-right:25px;
    padding-left:25px;
}
.index_search_input {
    height:50px !important;
}
.ek_bilgi_yuvarlak_area {
    background-color:#EEE7E1;
    position:relative;
    width:162%;
    left:-30%;
    margin-top:20px;
}
.ek_bilgi_area {
    margin:0px auto;
    min-width:100px;
    overflow:hidden;
    padding:20px 0px;
}
.index_search_td {
    padding:8px 4px;
}
.index_search_width {
    width:52%
}
.index_share_info_text {
    color:#333333;
    text-decoration:none;
}
.index_share_info_text:hover {
    color:#333333;
    text-decoration:none;
}
.index_share_tumbnail_padding {
    padding-right:7px;
    padding-left:7px;
}
#index_oduncver_img_bg {
    margin:0 auto; background-color:#AEDFE3;
}
#index_oduncal_img_bg {
    background-color:#E49490;
}
#oduncal_area_bg {
    background-color:#EEE7E1;
    position:absolute;
    width:200%;
    left:-30%;
    height:825px;
}
.all_stuff_link {
    color:black;
    background-color:#f4f4f4;
    border:0;
}
.all_stuff_link:hover {
    background-color:white;
}
h3.stuff_number_text {
    font-size:26px;
    text-align:center;
    padding-bottom: 30px;
    font-family:Dosis;
}
.stuff_number_style {
    color:white;
    background-color:black;
    padding:3px;
}
.settings_div {
    padding:30px;
    border:1px solid #dddddd;
    border-top:0px;
    overflow:hidden;
}
.margin_left_320 {
    margin-left:23%;
}
.group-logo {
    margin: 10px;
    width:100px;
    height:100px;
    background-color:white;
    overflow: hidden;
    display: table;
    border-radius:50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.group-logo-img {
    vertical-align: middle;
    display: table-cell;
}
.group-logo-img img{
    width: 100px;
    height:auto;
}

/*POPUP*/
#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    z-index:1;
}
#popupContact{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    min-height:384px;
    width:720px;
    background:#FFFFFF;
    z-index:2;
    padding:12px;
    font-size:13px;
    top:30px !important;
}
#popupContactClose{
    font-size:16px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#333333;
    font-weight:700;
    display:block;
    cursor:pointer;
}
/*POPUP*/

/*REVIEW AREA*/
.review-area{
	width: auto;
	height: auto;
	/*margin: 30px auto 0 auto;*/
	overflow: hidden;
}
.full-review-area{
	width: 2550px;
	height: 200px;
}
.single-review-area{
	height: 180px;
	/*width: 840px;*/
	width:33%;
	float: left;
	overflow:hidden;
}
.review-owner{
	width: 96px;
	height: 96px;
	float: left;
	margin:40px 0 0 40px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	overflow: hidden;
	border:5px solid #fff;
}
.review-slides{
	float: left;
	/*width: 620px;*/
	width:90%;
	/*height: 140px;*/
	background-color: #fff;
	overflow: hidden;
	float:right;
	/*margin:20px 40px 20px 0;*/
	margin:20px 5%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
}
.review-arrow{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	margin:80px 0 0 14px;
}
.review-text{
	font-family: "Helvetica-Neue-Light";
	font-size: 28px;
	/*padding: 40px 50px 10px 50px;*/
	padding-top:40px;
	color:#333333;
	width:100%;
	/*text-align: center;*/
}
.review-owner-name{
	text-align:center;
	color:#999999;
	font-size: 18px;
	font-family: "Helvetica-Neue-Light";
	margin-top: 3px;
}
.review-stars{
	float: left;
	margin-left: 10px;
}
.review-stars img{
	float: left;
	margin-left:5px;
}
.custom-slider-area{
	width: 45px;
	height: 20px;
	margin:10px auto 50px auto;
}
.custom-slider-area .custom-slider-button{
	width: 15px;
	height: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: transparent;
	border:2px solid #cccccc;
	cursor: pointer;
	float: left;
	margin-left:5px;
}
.custom-slider-area .custom-slider-button.active{
	background-color: #cccccc;
}
/*REVIEW AREA*/

.hero-div {
    position: absolute; bottom: 0px; left: 24%; width: 52%;
}
.hero-text {
    font-size:40px; color:white; text-align:center; line-height:46px; margin-bottom:40px;
}
.wth-text {
    margin-left:27%; margin-top:10px; color: #ffffff; overflow:hidden;
}
.wth-text-number {
    font-size:45px; float:left; margin:auto 7px;
}
.wth-text-text {
    font-size:18px;
    float:left;
    width: 100px;
    line-height: 18px;
    padding-top: 13px;
}
.wh-text {
    color:white; margin-top:20px; line-height:26px; width:80%; margin-left:10%; font-size:15px;
}
.wh-text-1 {
    border-top-left-radius: 5px; padding:7px 20px; width: 25%;
    /*background-color: #000000; opacity:0.8;*/
    float:left;
    height:40px;
}
.wh-text-2 {
    border-top-right-radius: 5px; padding:7px 20px; width: 75%;
    /*background-color: #000000; opacity:0.8;*/
    float:left;
    height:40px;
}
.margin-top70 {
    margin-top:70px;
}
.margin-top20 {
    margin-top:20px;
}
.thumbnail-aranan {
    border-radius:0;
    background-color: #f4f4f4;
    border:0;
    border-bottom:1px solid #e1e1e1;
    overflow:hidden;
    padding-bottom:1px;
    margin-bottom:0px;
}
.hero-search input {
    height: 53px !important;
    font-family: helvetica;
    font-size:20px !important;
    color:#8b9197;
    font-weight: lighter;
}
.menu-bar-div {
    width: 100%;
    position: absolute;
    top: 88px;
    z-index: 1;
    color: white;
    font-size: 15px;
    font-family: helvetica;
    float: left;
    padding-bottom: 13px;
    padding-left: 8%;
    padding-top: 13px;
    background: rgba(0,0,0,0.3);
}
.padding_right {
    padding-right:0px;
}
.padding_left {
    padding-left:0px;
}

#unread_messages_2 {
    background-color: #ed9c28;
    top: 5px;
    left: 15px;
    position: relative;
    z-index: 1;
}
#nisan {
    background: black;
    position: relative;
    z-index: 9999999999;
    width: 100%;
    text-align: center;
}
#nisan > #sakatext {
    width: 100%;
    float: left;
    font-size: 14px;
    margin-top: 30px;
    color: #fff;
}
#nisan > span {
    font-size: 100px;
    margin: 30px auto;
    width: 100%;
    float: left;
    color: white;
}
#nisan > #sakabuttons {
    width: 100%;
    float: left;
    margin: 20px auto;
}

/*RESPONSIVE*/

@media (min-width: 320px) and (max-width:767px) {
    .display_none_l768 {
        display:none !important;
    }
    .col_ss_12 {
      width: 100%;
    }
    .col_ss_9 {
      width: 75%;
    }
    .col_ss_6 {
      width: 50%;
    }
    .col_ss_3 {
      width: 25%;
    }
    .nav_li_l768 {
        float:right;
        text-align: center;
    }
    .displaywhen767 {
        display:block !important;
    }
    .padding_bottom_l768 {
        padding-bottom:20px !important;
    }
    .padding15 {
        padding:0px;
    }
    .hero-div {
        left: 16%;
        width: 68%;
    }
    .hero-image-768 {
        margin-top:20px;
    }
    .hero-text {
        font-size:22px; line-height:26px; margin-bottom:10px;
    }
    .wth-text {
        margin-left:15%;
        margin-top:0px;
    }
    .wth-text-number {
        font-size:35px;
    }
    .wth-text-text {
        font-size:14px;
        line-height:13px;
    }
    .margin-top70 {
        margin-top:40px;
    }
    .wh-text {
        margin-top:0px;
    }
    .menu-bar-div {
        top:80px;
        padding-left: 20%;
        background-color: rgba(0,0,0,0.3);
        padding-top:8px;
        padding-bottom:8px;
    }
    .padding_right {
        padding-right:15px;
    }
    .padding_left {
        padding-left:15px;
    }
}

@media (min-width: 320px) and (max-width:600px) {
    .display_none_l600 {
        display:none !important;
    }
    .displaywhen600 {
        display:block !important;
    }

    .hero-text {
        font-size:20px; line-height:25px; margin-bottom:15px;
    }
    .wth-text {
        margin-left:17%;
        margin-top:0px;
    }
    .wth-text-number {
        font-size:35px;
    }
    .wth-text-text {
        font-size:14px;
        line-height:13px;
    }
    .margin-top70 {
        margin-top:40px;
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .display_none_l480 {
        display:none !important;
    }
    .displaywhen480 {
        display:block !important;
    }
    .col_s320 {
        width:100% !important;
    }
    #padding_top_for_ekimg {
        padding-top:30px;
    }
    #width_for_ektd {
        width:65% !important;
    }
    .sub_menu_text {
      font-size: 18px;
    }

    .hero-div {
        left: 15%;
        width: 70%;
    }
    .hero-search {
        margin-bottom:20px;
    }
    .menu-bar-div {
        padding-left: 14%;
    }

    .footer-width {
        width:100%;
    }

}

@media (max-width: 320px) {
    .display_none_320 {
        display:none !important;
    }
    .settings_div_320 {
        padding:0px !important;
    }
    .margin_left_320 {
        margin-left:19% !important;
    }
    .hero-search {
        margin-bottom: 34px;
    }
    .hero-search input {
        font-size:14px !important
    }

    .menu-bar-div {
        padding-left: 0%;
    }
    .nav-tabs > li > a {
        padding: 10px 5px;
    }
}

@media (min-width: 320px) and (max-width:991px) {
    .display_none_l992 {
        display:none !important;
    }
}

@media (min-width: 768px) and (max-width:880px) {
    .review-text{
        width:58%;
    }
    .hero-text {
        font-size:24px; line-height:26px; margin-bottom:15px;
    }
    .wth-text {
        margin-left:15%;
        margin-top:0px;
    }
    .wh-text {
        width:100%; margin-left:0%; margin-top:0px;
    }
    .wth-text-number {
        font-size:35px;
    }
    .wth-text-text {
        font-size:14px;
        line-height:13px;
    }
    .nopic {
        display: none;
    }
    .fullwidth {
        width: 100%;
    }
}

@media (min-width: 881px) and (max-width:900px) {
    .review-text{
        width:60%;
    }
    .hero-text {
        font-size:28px; line-height:30px; margin-bottom:25px;
    }
    .wth-text {
        margin-left:15%;
    }
    .wh-text {
        width:100%; margin-left:0%; margin-top:10px;
    }
}

@media (min-width: 901px) and (max-width:1024px) {
    .review-text{
        width:75%;
    }
    .hero-text {
        font-size:28px; line-height:30px; margin-bottom:20px;
    }
    .wth-text {
        margin-left:20%;
    }
    .wh-text {
        width:100%; margin-left:0%;
    }
}

@media (min-width: 1025px) and (max-width:1124px) {
    .review-text{
        width:83%;
    }
    .hero-text {
        font-size:30px; line-height:36px; margin-bottom:30px;
    }
    .wth-text {
        margin-left:20%;
    }
    .wh-text {
        width:100%; margin-left:0%;
    }
}

@media (min-width: 960px) {
    .info-images {
        width:70%;
    }
}