<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/css/coiki.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.10.2.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" ></script>

    <title>CO2 Hesapla</title>

</head>
<body class="coiki-sheet" id="coikibg">

    <div id="home-logo">
        <div id="motto">
            SAHİP OLDUĞUN EŞYALARIN
            <div style="font-size:32px; color:#D84E09; letter-spacing: 2px;">İKLİMİ NASIL DEĞİŞTİRDİĞİNİ</div>
            ÖĞRENMEK İSTER MİSİN?
        </div>

        <div id="action">
            <div style="margin: 0 auto;">
                <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='/coiki_hesapla'" style="font-size: 14px;">
                    EVET, HEMEN BAŞLA
                </button>
            </div>
            <div style="margin: 10px auto; font-family: arial;">
                <span><a href="#nedir" data-toggle="modal" data-target="#myModal">Bu nedir?</a></span>
            </div>
        </div>
    </div>

    <div id="supporters">
        <!--<img src="/static/images/coiki/teknogirisim.png"/>-->
        Bu proje, T.C. Bilim, Sanayi ve Teknoloji Bakanlığı Teknogirişim desteğiyle,
        Yeşilist danışmanlığında, Eşya Kütüphanesi tarafından geliştirilip hayata geçirilmiştir.
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">İklim değişikliği nedir?</h4>
          </div>
          <div class="modal-body">
            <p>
                DİKKAT! Yüzyılın en sıcak günü geliyor!’ ‘Sel geliyor, hazırlıklı olun!’ gibi haberleri ne kadar sık duymaya başladın? Bilimsel araştırmalar gösteriyor ki iklimimiz insanlar, yani bizler yüzünden hızlanarak değişmekte. Kuraklık, seller ve alışılmadık iklim değişimleri ile beraber, yediklerimiz ve sağlığımız kötü yönde etkilenmekte.
            </p>
            <p>
                Peki bir insan iklimi nasıl değiştirebilir? Tek başına aşırı tüketim ve eşya kullanım alışkanlıklarımız dahi iklimi etkilemekte. Bu basit hesaplama aracı ile, sahip olduğun eşyaları ortak kullanarak, sera gazlarından olan karbonun yeryüzüne salınmasını ne kadar engellediğini görebilirsin. Haydi başla, etkini fark et!
            </p>

            <embed width="600" height="300" src="https://www.youtube.com/v/x2GGcs1ffR8" style="width: 100%; margin: 10px auto;">

            <div id="referans">
                Referanslar:<br>
                <a href="/static/images/coiki/120321_BIOCHEM_LCA_review.pdf" target="_blank">Biochem - Review of LCIA Methods</a>
                <br>
                <a href="/static/images/coiki/LCIA_METHODS_v.1.5.4.pdf" target="_blank">Greendela LCIA Methods</a>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center;">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>-->
            <button type="button" class="btn btn-success" onclick="window.location.href='/coiki_hesapla'">Etkini Hesapla</button>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div id="nedir" style="width:800px; position:relative; top:700px; margin:220px auto; text-align:center;">
        <p>
            ‘DİKKAT! Yüzyılın en sıcak günü geliyor!’ ‘Sel geliyor, hazırlıklı olun!’ gibi haberleri ne kadar
            sık duymaya başladınız? Bilimsel araştırmalar gösteriyor ki iklimimiz insanlar, yani bizler yüzünden
            hızlanarak değişmekte. Kuraklık, seller ve alışılmadık iklim değişimleri ile beraber, yediklerimiz ve
            sağlığımız kötü yönde etkilenmekte.
        </p>
        <p>
            Peki bir insan iklimi nasıl değiştirebilir? Sadece tüketim, ya da eşya kullanım, alışkanlıklarımız
            dahi iklimi etkilemekte.
            Bu hesaplama aracı ile, sahip olduğunuz eşyaları ortak kullanarak yeryüzüne ne kadar karbon gazı salınmasını
            engellediğini görebilirsin.
        </p>
        <span><a href="/coiki_hesapla">Hesapla</a></span>

    </div>-->
    <script type="text/javascript">
        $('#myModal').modal(options);
    </script>
    <script>
        var marginTop = ($(window).height()/2)-220;
        console.log(marginTop);
        $('#home-logo').css("margin", marginTop+"px auto auto");
        $('#coikibg').css("background-position", " 50% "+marginTop+"px");
    </script>

</body>
</html>