<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="all">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="static/css/coiki.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" src="static/js/select_demo2.js" ></script>

    <title>CO2 Hesapla</title>

</head>
<body>
    <div id="modal-alert" style="display: none; background-color: #f0ad4e; color: white; line-height: 40px; text-align: center;"></div>

    <form action="{{ url_for('results') }}" method="POST" name="calculate_carbon_form" id="calculate_carbon_form" enctype="multipart/form-data">
        <div id="one" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">1</span> | 6
                    <span class="question-text">Nerede Yaşıyorsun?</span>
                </h2>
            </div>
            <div class="question-div">
                <div><img src="/static/images/coiki/harita.png"/> </div>
                <div class="select-options">

                    <section class="demo">
                        <div class="container">
                            <div class="row">
                                <div class="twelvecol">
                                    <div class="content">

                                        <p>
                                            <select id="where" class="turnintodropdown_demo2" name="place">
                                                <option value="0">Lütfen ilinizi seçin:</option>
                                                <option value="34">İstanbul</option>
                                                <option value="1">Adana</option>
                                                <option value="2">Adıyaman</option>
                                                <option value="3">Afyonkarahisar</option>
                                                <option value="4">Ağrı</option>
                                                <option value="5">Amasya</option>
                                                <option value="6">Ankara</option>
                                                <option value="7">Antalya</option>
                                                <option value="8">Artvin</option>
                                                <option value="9">Aydın</option>
                                                <option value="10">Balıkesir</option>
                                                <option value="11">Bilecik</option>
                                                <option value="12">Bingöl</option>
                                                <option value="13">Bitlis</option>
                                                <option value="14">Bolu</option>
                                                <option value="15">Burdur</option>
                                                <option value="16">Bursa</option>
                                                <option value="17">Çanakkale</option>
                                                <option value="18">Çankırı</option>
                                                <option value="19">Çorum</option>
                                                <option value="20">Denizli</option>
                                                <option value="21">Diyarbakır</option>
                                                <option value="22">Edirne</option>
                                                <option value="23">Elazığ</option>
                                                <option value="24">Erzincan</option>
                                                <option value="25">Erzurum</option>
                                                <option value="26">Eskişehir</option>
                                                <option value="27">Gaziantep</option>
                                                <option value="28">Giresun</option>
                                                <option value="29">Gümüşhane</option>
                                                <option value="30">Hakkâri</option>
                                                <option value="31">Hatay</option>
                                                <option value="32">Isparta</option>
                                                <option value="33">Mersin</option>
                                                <option value="35">İzmir</option>
                                                <option value="36">Kars</option>
                                                <option value="37">Kastamonu</option>
                                                <option value="38">Kayseri</option>
                                                <option value="39">Kırklareli</option>
                                                <option value="40">Kırşehir</option>
                                                <option value="41">Kocaeli</option>
                                                <option value="42">Konya</option>
                                                <option value="43">Kütahya</option>
                                                <option value="44">Malatya</option>
                                                <option value="45">Manisa</option>
                                                <option value="46">Kahramanmaraş</option>
                                                <option value="47">Mardin</option>
                                                <option value="48">Muğla</option>
                                                <option value="49">Muş</option>
                                                <option value="50">Nevşehir</option>
                                                <option value="51">Niğde</option>
                                                <option value="52">Ordu</option>
                                                <option value="53">Rize</option>
                                                <option value="54">Sakarya</option>
                                                <option value="55">Samsun</option>
                                                <option value="56">Siirt</option>
                                                <option value="57">Sinop</option>
                                                <option value="58">Sivas</option>
                                                <option value="59">Tekirdağ</option>
                                                <option value="60">Tokat</option>
                                                <option value="61">Trabzon</option>
                                                <option value="62">Tunceli</option>
                                                <option value="63">Şanlıurfa</option>
                                                <option value="64">Uşak</option>
                                                <option value="65">Van</option>
                                                <option value="66">Yozgat</option>
                                                <option value="67">Zonguldak</option>
                                                <option value="68">Aksaray</option>
                                                <option value="69">Bayburt</option>
                                                <option value="70">Karaman</option>
                                                <option value="71">Kırıkkale</option>
                                                <option value="72">Batman</option>
                                                <option value="73">Şırnak</option>
                                                <option value="74">Bartın</option>
                                                <option value="75">Ardahan</option>
                                                <option value="76">Iğdır</option>
                                                <option value="77">Yalova</option>
                                                <option value="78">Karabük</option>
                                                <option value="79">Kilis</option>
                                                <option value="80">Osmaniye</option>
                                                <option value="81">Düzce</option>
                                            </select>
                                        </p>

                                    </div><!-- .content -->
                                </div><!-- .twelvecol -->
                            </div><!-- .row -->
                        </div>
                    </section>

                </div>
            </div>

            <div class="next-text" id="next-two" data-value="2"></div>
        </div>

        <div id="two" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">2</span> | 6
                    <span class="question-text">Cinsiyetin ve Yaşın?</span>
                </h2>
            </div>

            <div class="question-div">
                <div class="checkbox_wrapper">
                    <input type="radio" class="gender" value="200" id="girl-checkbox" name="gender"/>
                    <label id="girl"></label>
                </div>
                <div class="checkbox_wrapper">
                    <input type="radio" class="gender" value="201" id="boy-checkbox" name="gender"/>
                    <label id="boy"></label>
                </div>

                <div id="age-div">
                    <input type="text" class="age-input" name="age" id="age" placeholder="25"/>
                    <span id="age-text">Yaşındayım</span>
                </div>
            </div>

            <div class="next-text" id="next-three" data-value="3"></div>
        </div>

        <div id="three" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">3</span> | 6
                    <span class="question-text">Öğrenim Durumun</span>
                </h2>
            </div>

            <div class="question-div">
                <div id="kep-img-style">
                    <img src="/static/images/coiki/okul.png"/>
                </div>
                <div class="select-options">

                    <section class="demo">
                        <div class="container">
                            <div class="row">
                                <div class="twelvecol">
                                    <div class="content">

                                        <p>
                                            <select class="turnintodropdown_demo2" name="education" id="education">
                                                <option value="0">Lütfen öğrenim durumunuzu seçin:</option>
                                                <option value="300">Doktora</option>
                                                <option value="301">Yüksek Lisans</option>
                                                <option value="302">Lisans</option>
                                                <option value="303">Lise</option>
                                                <option value="304">İlk Öğretim</option>
                                            </select>
                                        </p>

                                    </div><!-- .content -->
                                </div><!-- .twelvecol -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </section>

                </div>
            </div>

            <div class="next-text" id="next-four" data-value="4"></div>
        </div>

        <div id="four" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">4</span> | 6
                    <span class="question-text">İş Durumun</span>
                </h2>
            </div>

            <div class="question-div">
                <ul id="work">
                    <li>
                        <input type="radio" class="work" id="not_working" name="workOption" />
                        <label id="not_working-label"></label>
                        <div>Çalışmıyorum</div>
                    </li>
                    <li>
                        <input type="radio" class="work" id="working" name="workOption" />
                        <label id="working-label"></label>
                        <div>Ücretli Çalışıyorum</div>
                    </li>
                    <li>
                        <input type="radio" class="work" id="working_own" name="workOption" />
                        <label id="working_own-label"></label>
                        <div>Kendi Adıma Çalışıyorum</div>
                    </li>
                </ul>

                <div class="select-options displayNone working_options" id="working_option" style="top: auto;">
                    <section class="demo">
                        <div class="container">
                            <div class="row">
                                <div class="twelvecol">
                                    <div class="content">

                                        <p id="not_working_p" class="displayNone">
                                            <select id="not_working_select" class="turnintodropdown_demo2" name="">
                                                <option value="0">Lütfen çalışma durumunuzu seçin:</option>
                                                <option value="400">Ev hanımı</option>
                                                <option value="401">Öğrenci</option>
                                                <option value="402">Emekli</option>
                                                <option value="403">Geçici işsiz</option>
                                            </select>
                                        </p>
                                        <p id="working_p" class="displayNone">
                                            <select id="working_select" class="turnintodropdown_demo2" name="">
                                                <option value="0">Lütfen çalışma durumunuzu seçin:</option>
                                                <option value="404">Üst düzey yönetici</option>
                                                <option value="405">10'dan fazla çalışanlı orta düzey yönetici</option>
                                                <option value="406">10'dan az çalışanlı orta düzey yönetici</option>
                                                <option value="407">Nitelikli uzman, mühendis, teknik eleman</option>
                                                <option value="408">Memur/Ofis çalışanı</option>
                                                <option value="409">Nitelikli işçi/Hizmetli</option>
                                                <option value="410">Vasıfsız işçi/Hizmetli</option>
                                            </select>
                                        </p>
                                        <p id="working_own_p" class="displayNone">
                                            <select id="working_own_select" class="turnintodropdown_demo2" name="">
                                                <option value="0">Lütfen çalışma durumunuzu seçin:</option>
                                                <option value="411">Çiftçi</option>
                                                <option value="412">Nitelikli serbest meslek sahibi</option>
                                                <option value="413">0-5 çalışanlı tüccar</option>
                                                <option value="414">6-20 çalışanlı tüccar</option>
                                                <option value="415">20+ çalışanlı tüccar</option>
                                                <option value="416">1-9 çalışanlı şirket/imalathane sahibi</option>
                                                <option value="417">10-25 çalışanlı şirket/imalathane sahibi</option>
                                                <option value="418">25+ çalışanlı şirket/imalathane sahibi</option>
                                            </select>
                                        </p>

                                    </div><!-- .content -->
                                </div><!-- .twelvecol -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </section>
                </div>

            </div>

            <div class="next-text" id="next-five" data-value="5"></div>
        </div>

        <div id="five" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">5</span> | 6
                    <span class="question-text">Hangi elektronik aletlere sahipsin?</span>
                </h2>
            </div>

            <div class="question-div">
                <ul id="electronic">
                    <li>
                        <input type="checkbox" id="lcd" name="lcd" value="500"/>
                        <label id="lcd-label"></label>
                        <div>17" LCD Ekran</div>
                        <div id="lcd_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="lcd_number" name="lcd_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="lcd_sp" name="lcd_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="computer" name="computer" value="501"/>
                        <label id="computer-label"></label>
                        <div>Masaüstü Bilgisayar</div>
                        <div id="computer_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="computer_number" name="computer_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="computer_sp" name="computer_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="laptop" name="laptop" value="502"/>
                        <label id="laptop-label"></label>
                        <div>Dizüstü Bilgisayar</div>
                        <div id="laptop_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="laptop_number" name="laptop_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="laptop_sp" name="laptop_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="keyboard" name="keyboard" value="503"/>
                        <label id="keyboard-label"></label>
                        <div>Klavye</div>
                        <div id="keyboard_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="keyboard_number" name="keyboard_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="keyboard_sp" name="keyboard_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="mouse" name="mouse"  value="504"/>
                        <label id="mouse-label"></label>
                        <div>Fare</div>
                        <div id="mouse_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="mouse_number" name="mouse_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="mouse_sp" name="mouse_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="harddisk" name="harddisk" value="505"/>
                        <label id="harddisk-label"></label>
                        <div>Hard Disk</div>
                        <div id="harddisk_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="harddisk_number" name="harddisk_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="harddisk_sp" name="harddisk_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="network" name="network" value="506"/>
                        <label id="network-label"></label>
                        <div>Modem</div>
                        <div id="network_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="network_number" name="network_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="network_sp" name="network_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="printer" name="printer" value="507"/>
                        <label id="printer-label"></label>
                        <div>Renkli Yazıcı</div>
                        <div id="printer_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="printer_number" name="printer_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="printer_sp" name="printer_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                </ul>
                <div class="select-yours-text">Sahip olduğun aletlerin üzerine tıkla, sahip olduğun adedi ve toplamda
                    kaç kişi ortak kullandığını yaz. (Eğer yalnız kendin kullanıyorsan kişi sayısına 0 yaz)
                </div>
            </div>

            <div class="next-text"  id="next-six" data-value="6" ></div>
        </div>

        <div id="six" class="displayNone">
            <div class="header">
                <h2>
                    <span class="number-text">6</span> | 6
                    <span class="question-text">Peki ulaşım araçlarından hangilerine sahipsin?</span>
                </h2>
            </div>

            <div class="question-div">
                <ul id="vehicle">
                    <li>
                        <input type="checkbox" id="bike" name="bike"  value="600"/>
                        <label id="bike-label"></label>
                        <div>Bisiklet</div>
                        <div id="bike_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="bike_number" name="bike_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="bike_sp" name="bike_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="elect_bike" name="elect_bike" value="601"/>
                        <label id="elect_bike-label"></label>
                        <div>Elektrikli Bisiklet</div>
                        <div id="elect_bike_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="elect_bike_number" name="elect_bike_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="elect_bike_sp" name="elect_bike_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="scooter" name="scooter" value="602"/>
                        <label id="scooter-label"></label>
                        <div>Motor Scooter</div>
                        <div id="scooter_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="scooter_number" name="scooter_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="scooter__sp" name="scooter_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="elect_car" name="elect_car" value="603"/>
                        <label id="elect_car-label"></label>
                        <div>Eletrikli Araba</div>
                        <div id="elect_car_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="elect_car_number" name="elect_car_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="elect_car_sp" name="elect_car_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="diesel_car" name="diesel_car" value="604"/>
                        <label id="diesel_car-label"></label>
                        <div>Dizel Araba</div>
                        <div id="diesel_car_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="diesel_car_number" name="diesel_car_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="diesel_car_sp" name="diesel_car_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="fuel_car" name="vehicle" value="605"/>
                        <label id="fuel_car-label"></label>
                        <div>Benzinli Araba</div>
                        <div id="fuel_car_option" class="displayNone" style="margin-top:5px;">
                            <input type="text" id="fuel_car_number" name="fuel_car_number" class="li_input_number_text"/>
                            adet
                            <input type="text" id="fuel_car_sp" name="fuel_car_sp" class="li_input_number_text"/>
                            kişi
                        </div>
                    </li>
                </ul>
                <div class="select-yours-text">Sahip olduğun aletlerin üzerine tıkla, sahip olduğun adedi ve toplamda
                    kaç kişi ortak kullandığını yaz. (Eğer yalnız kendin kullanıyorsan kişi sayısına 1 yaz)
                </div>
            </div>

            <!--<div class="next-text" id="next-seven" data-value="7" ></div>-->
            <input class="next-text" id="submit" name="submit" type="submit" value=""
                   style="padding: 0;border: 0;background-color: white;">
        </div>

        </div>
    </form>

    <div style="position:absolute; bottom:20px; right:150px;">
        <a href="/coiki" style="color:#333333; font-size:13px;">Karbon Salınımı Nedir?</a> |
        <a href="http://esyakutuphanesi.com/" target="_blank" style="color:#333333; font-size:13px;">Eşya Kütüphanesi</a> |
        <a href="http://www.yesilist.com/" target="_blank" style="color:#333333; font-size:13px;">Yeşilist</a>
    </div>

    <script>
        var pathname = window.location.pathname;
        var string = window.location.hash;

        $( document ).ready(function() {

            if( string=="#cinsiyet" ) {
                displayFunction(2);
            } else if( string=="#egitim" ) {
                displayFunction(3);
            } else if( string=="#isdurumu" ) {
                displayFunction(4);
            } else if( string=="#elektronik" ) {
                displayFunction(5);
            } else if( string=="#ulasimaraci" ) {
                displayFunction(6);
            } else if( string=="#secenekler" ) {
                displayFunction(7);
            } else {
                displayFunction(1);
            }

            if( string!='' ) window.location.href = pathname+string;
        });

        $(window).on("navigate", function (event, data) {
            var direction = data.state.direction;
            if ( !! direction) {
                alert(direction);
            }
        });

        $( ".next-text" ).click(function() {
            var value = $(this).attr('data-value');
            displayFunction(value);
        });

        function displayFunction(step) {
            if (step==1) {
                var hiddenID = '';
                var showID = 'one';
                var urlHash = '';
            } else if(step==2) {
                if( $( "input#where" ).val()=='' || $( "input#where" ).val()==0 ) {
                    $( "#modal-alert").css("display", "block");
                    $( "#modal-alert" ).html( "Yaşadığın ili seçmelisin." );
                    return false;
                }else {
                    var hiddenID = 'one';
                    var showID = 'two';
                    var urlHash = 'cinsiyet';
                    $("#modal-alert").addClass("display_none_option");
                }
            } else if(step==3) {
                $("#modal-alert").removeClass("display_none_option");
                if( $('input[name=gender]:checked').val() == undefined ) {
                    $( "#modal-alert").css("display", "block");
                    $( "#modal-alert" ).html( "Cinsiyetini seçmelisin." );
                    return false;
                }else if( $( "input#age" ).val()=='' ) {
                    $( "#modal-alert").css("display", "block");
                    $( "#modal-alert" ).html( "Yaşını girmelisin." );
                    return false;
                }else {
                    var hiddenID = 'two';
                    var showID = 'three';
                    var urlHash = 'egitim';
                    $("#modal-alert").addClass("display_none_option");
                }
            } else if(step==4) {
                $("#modal-alert").removeClass("display_none_option");
                if( $( "input#education" ).val()=='' || $( "input#education" ).val()==0 ) {
                    $( "#modal-alert").css("display", "block");
                    $( "#modal-alert" ).html( "Eğitim bilgini seçmelisin." );
                    return false;
                }else {
                    var hiddenID = 'three';
                    var showID = 'four';
                    var urlHash = 'isdurumu';
                    $("#modal-alert").addClass("display_none_option");
                }
            } else if(step==5) {
                $("#modal-alert").removeClass("display_none_option");
                if( $( "input#working_select" ).val()!=0 || $( "input#not_working_select" ).val()!=0 || $( "input#working_own_select" ).val()!=0 ) {
                    var hiddenID = 'four';
                    var showID = 'five';
                    var urlHash = 'elektronik';
                    $("#modal-alert").addClass("display_none_option");
                }else {
                    $( "#modal-alert").css("display", "block");
                    $( "#modal-alert" ).html( "Eğitim bilgini seçmelisin." );
                    return false;
                }
            } else if(step==6) {
                var hiddenID = 'five';
                var showID = 'six';
                var urlHash = 'ulasimaraci';
            } else if(step==7) {
                var hiddenID = 'six';
                var showID = 'seven';
                var urlHash = 'secenekler';
            } else return;

            if( hiddenID!='' )
                $("#"+hiddenID).removeClass("display_show_option").addClass("display_none_option");

            $("#"+showID).removeClass("display_none_option").addClass("display_show_option");

            if( urlHash!='' )
                window.location.href = pathname+'#'+urlHash;
        }

        // WORKING OPTINONS

        $(document).ready(function() {

            $('.work').click(function() {
                var id = $(this).attr("id");
                // temel select alani acilir.
                $("#working_option").removeClass("displayNone");
                // butun select ler deafult hale getirilir.
                $("#working_option p").addClass("displayNone")
                $("#working_option input").attr("name", "");

                // bizim select ortaya cikarilir!
                // console.log(id);
                $("#"+id+"_p").removeClass("displayNone");
                $("#"+id+"_select").attr("name", "work");

            });

            $('#lcd').click(function() {
                $('#lcd_option').toggle();
            });
            $('#computer').click(function() {
                $('#computer_option').toggle();
            });
            $('#laptop').click(function() {
                $('#laptop_option').toggle();
            });
            $('#keyboard').click(function() {
                $('#keyboard_option').toggle();
            });
            $('#mouse').click(function() {
                $('#mouse_option').toggle();
            });
            $('#harddisk').click(function() {
                $('#harddisk_option').toggle();
            });
            $('#network').click(function() {
                $('#network_option').toggle();
            });
            $('#printer').click(function() {
                $('#printer_option').toggle();
            });
            $('#bike').click(function() {
                $('#bike_option').toggle();
            });
            $('#elect_bike').click(function() {
                $('#elect_bike_option').toggle();
            });
            $('#scooter').click(function() {
                $('#scooter_option').toggle();
            });
            $('#elect_car').click(function() {
                $('#elect_car_option').toggle();
            });
            $('#diesel_car').click(function() {
                $('#diesel_car_option').toggle();
            });
            $('#fuel_car').click(function() {
                $('#fuel_car_option').toggle();
            });
        });

    </script>
</body>
</html>