{% from "security/_macros.html" import render_field_with_errors, render_field, render_textarea_with_errors  %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - İletişim{% endblock %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 margin-top70">

        <div class="col-sm-12 col-xs-12">
            <h4 class="text-center">
                Eşyalarını paylaşmak istiyorsan <a href="/esya_listele">BURADAN BAŞLA!</a>
            </h4></br>
            <h4 class="text-center">
                Eşya Kütüphanesi rozeti ya da magneti satın alarak bize destek olmak istersen de <a href="#bizeyaz">bize yaz!</a>
            </h4>
        </div>

        <div class="col-sm-12 col-xs-12"><br>
            <img class="img-responsive" src="/static/images/rozetmagnet.png" style="width:400px; margin:0 auto;"/>
        </div>

        <br>

        <h4 class="col-sm-12 col-xs-12">
            Bize yaz
        </h4>

        <div class="col-sm-5 display_none_l768" id="bizeyaz">
            <img class="img-responsive" src="/static/images/desteklebebe.png" style="margin:0 auto;"/>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <form action="{{url_for('destekle')}}" method="POST" name="contact_form" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ render_field_with_errors(form.user_name, label_visible=True) }}
                    {{ render_field_with_errors(form.user_email, label_visible=True, placeholder=form.user_email.label.text) }}
                    <label for="message" class="control-label"><label for="message">Bizi nasıl destekleyebilirsin?</label></label>
                    {{ render_field_with_errors(form.message, label_visible=False) }}
                    {{ form.submit(class_='btn btn-success pull-right')}}
                </form>
            </div>
        </div>
    </div>

{% endblock %}