{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Adres düzenle{% endblock %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static',filename='js/gmaps.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ek.js') }}"></script>
<script>
    function send(){
        var address_str = document.getElementById('address').value;
        console.log(address_str);
        window.location = window.location + "?address="+JSON.stringify(addr_components);
    }
    function deleteAddressReq(status){
        if (confirm("Emin misiniz?")) {
            window.location = "/edit_address/{{address.id}}?status="+status;
        }
    }
</script>

<h1>Adres Ekle</h1>
<div class="row">

    <a href="#" onclick="deleteAddressReq(1), _gaq.push(['_trackEvent', 'Address', 'deleteAddress', 'Edit_address Page'])" class="pull-right">Adresi sil</a>

    <div class="col-md-8 col-sm-8">
        <div id="map"></div>
    </div>
    <div class="col-md-4 col-sm-4" >
        <form action="{{ form_action }}" method="POST" id="geocoding_form" name="edit_address_form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="row">
                Haritada bir nokta işaretlemelisin. Adres girip Ara'ya basarak veya sağ tıklayıp bir nokta seçerek adres
                oluşturabilirsin.
                <br/><br/>
                {{ render_field_with_errors(form.address_title, placeholder="Ev, iş...") }}
                {{ render_field_with_errors(form.address_str) }}
                {{ render_field_with_errors(form.lat) }}
                {{ render_field_with_errors(form.lng) }}
                {{ render_field_with_errors(form.addressid) }}
                <input id ='search' type="button" class="btn pull-right" value="Ara" />
            </div>
            <div style="margin-top:20px;">{{ form.submit(class_='btn btn-success pull-right')}}</div>
        </form>
    </div>
</div>

{% endblock %}
