{% from "security/_macros.html" import render_field_with_errors, render_field, render_textarea_with_errors  %}
{% extends "layout.html" %}
{% block content %}

    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 margin-top70">
        <h4>Yalın ve mutlu girişim</h4>

        <p class="col-sm-6 col-xs-12">
            Eşya Kütüphanesi'ni Kasım 2012'de Startup Weekend İstanbul yarışmasında birinci seçildiğimizden beri severek
            geliştiriyoruz. Mayıs 2013'de Sosyal Değişim Lab programında ilk 3'e seçildiğimizden bu yana Girişim
            Fabrikası içerisinde yalın girişimcilik metodolojisi ile denemeler yaparak geliştirmeye devam ediyoruz.
            İnanıyoruz ki önce biz bu işten keyif alırsak, sonra da müşterilerimizi mutlu edersek bu iş olacak - öyle de
            olmakta. Bu nasıl bir iş modelidir diye merak ederseniz takipçisi ve öğrencisi olduğumuz "The Happy Startup
            School"a göz atabilirsiniz.
        </p>
        <div class="col-sm-6 display_none_l768">
            <img src="/static/images/mutlugirisim.png" class="img-responsive"/>
        </div>

        <div class="col-sm-12 col-xs-12"><br>
            <h4>2014</h4>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-1.png" class="img-responsive"/>
                Şubat 2014: Fonla Beni aracılığı ile Mutlu Girişim Okulu öğrencisi olmak için gerek ücreti toplamak için
                açtığımız il imecefon kampanyamızdan alnımızın akıyla çıktık.
            </div>
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-2.png" class="img-responsive"/>
                Mart 2014: "Evsel Eşya Karbon Ayakizi Veritabanı" başlıklı projemiz Sanayi ve Teknoloji Bakanlığı'nın Teknogirişim
                Desteği'ne seçildi.
            </div>
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-3.png" class="img-responsive"/>
                Nisan 2014: Eşyakütüphanesi Bilişim ve Tasarım Hizmetleri Ltd. Şti. adı altında resmi olarak şirketleştik.
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-4.png" class="img-responsive"/>
                Social Leaders Forum, Cultural Innovators Network gibi ağlarla uluşlararası olarak büyüdük, kültürlerarası
                öğrendik ve paylaştık.
            </div>
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-5.png" class="img-responsive"/>
                MÜ GSF Grafik Tasarımı 2. sınıf öğrencileri ile ortak çalışma yaparak yeni görsellerden ilham aldık, aramıza
                stajyerler kattık.
            </div>
            <div class="col-sm-4 col-xs-4 col_ss_12">
                <img src="/static/images/gy-6.png" class="img-responsive"/>
                Ayşe yavaşlama konuşu bitirme projesi ile yüksek lisansını bitirdi ve TR'ye dönüş yaptı.
            </div>
        </div>

        <div class="col-sm-12 col-xs-12"><br>
            <h4>2013</h4>
        </div>
        <div class="col-sm-4 col-xs-4 col_ss_12">
            <img src="/static/images/gy-7.png" class="img-responsive"/>
            Mayıs 2013: Sosyal Değişim Lab finalistlerinden olduk ve ilk finansal desteğin yanı sıra, ilk resmi ofisimize kavuştuk.
        </div>
        <div class="col-sm-4 col-xs-4 col_ss_12">
            <img src="/static/images/gy-8.png" class="img-responsive"/>
            Kasım 2013'de 4.'sü düzenlenen Bilgi Genç Sosyal Girişimci ödüllerinde finalist 10 projeden biri olduk.
        </div>
        <div class="col-sm-4 col-xs-4 col_ss_12">
            <img src="/static/images/gy-9.png" class="img-responsive"/>
            Web sitesimizi opensource (açık kaynaklı kod) ile geliştirmeye geçtik ve gönüllü ekibimizi genişlettik.
        </div>

        <div class="col-sm-12 col-xs-12"><br>
            <h4>2012</h4>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-4 col-xs-4 col_ss_12">
                    <img src="/static/images/gy-10.png" class="img-responsive"/>
                </div>
                <div class="col-sm-8 col-xs-8 col_ss_12">
                    Kullanıcı ve mentör görüşmeleriyle başladığımız bu yolculukta 500'den fazla kullanıcı ile konuştuk,
                    bir çok kişi ve kurumdan destek aldık ve websitemizde 200'den fazla listeleme gördük.
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-4 col-xs-4 col_ss_12">
                    <img src="/static/images/gy-11.png" class="img-responsive"/>
                </div>
                <div class="col-sm-8 col-xs-8 col_ss_12">
                    Paylaşımın köklerimizde olduğunu hatırlatmak için "Türkiye'den Pyalşaım Hikayeleri" serisi başladı ve
                    hala kullanıcı katkılarıyla da büyümeye devam ediyor.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12"><br>
            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-4 col-xs-4 col_ss_12">
                    <img src="/static/images/gy-12.png" class="img-responsive"/>
                </div>
                <div class="col-sm-8 col-xs-8 col_ss_12">
                    Bu süreç boyunca, sistemin nasıl çalışacağına dair varsayımlar 8 kere değişti.
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-4 col-xs-4 col_ss_12">
                    <img src="/static/images/gy-13.png" class="img-responsive"/>
                </div>
                <div class="col-sm-8 col-xs-8 col_ss_12">
                    Shareable ve MakeSense'in de içinde ulunduğu uluslarası paylaşım ekonomisi ve sosyal girişimcilik
                    platformları ile bağ kurmaya başlanıldı.
                </div>
            </div>
        </div>
    </div>

{% endblock %}