<script>
     $(function(){
        var htmlString = '';
        $.getJSON('/get_categories','',function(j){

            $.each(j, function(key,value){
                console.log(value);
                htmlString += "<li><a href='/category/"+value.name+"'>"+value.name+"</a></li>";
            });
             htmlString += "<li><a href='/category/"+'Hepsi'+"'>"+'Hepsi'+"</a></li>";
             $("ul#categories").html(htmlString);
        });
        $.getJSON('/unread_messages','',function(j){
             console.log(j.count);
             if (j.count > 0) {
                $("#unread_messages").html(j.count);
                $("#unread_messages_2").html(j.count);
             }
        });
    });
     function showRequestModal(stuffid, title, owner, is_wanted) {
         var htmlString = '';
         console.log(stuffid);
         console.log(title);
         console.log(owner);
         console.log(is_wanted);
         var title = decodeURI(title);

         if (is_wanted=="True") {
            //$('#message').val('Merhaba, '+owner+' sana '+title+ ' eşyasını ödünç vermek istiyorum.');
            htmlString += "Ödünç Ver";
            $("h4.modal-title").html(htmlString);
         } else {
            //$('#message').val('Merhaba, '+owner+' senden '+title+ ' eşyanı ödünç istiyorum.');
            htmlString += "Ödünç İste";
            $("h4.modal-title").html(htmlString);
         }
         $('#requestModal').modal('show');
         $('#stuff_id').val(stuffid);
         $('#return_url').val(window.location.pathname+window.location.search);
     }
</script>

<div class="col-sm-10 col-sm-offset-1">
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="width: 100%;">
        <a class="navbar-brand" href="/">
            <img src="/static/images/yeni/logo.png" srcset="/static/images/yeni/logo@2x.png 2x, /static/images/yeni/logo.png 1x,"/>
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
            {%if user.is_authenticated()%}
                <ul class="nav navbar-nav navbar-right padding15">

                    <li class="display_none_l480 display_none_l600 display_none_l768">
                        <span id="unread_messages_2" class="badge"></span>
                    </li>

                    <li class="dropdown nav_li_l600 nav_li_l768">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="header_profile_photo_a">
                            {% if user.photo %}
                                <img src="/photos/{{user.photo}}"/>
                            {% else %}
                                <img src="/static/images/ek.png"/>
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
<!--                             <li><a href="/esya_listele">Ödünçlük Eşya Listele</a></li>
                            <li><a href="/esya_listele?is_wanted=true">Aranıyor İlanı Ver</a></li>
                            <li class="divider"></li> -->
                            <li><a href="/profil/{{user.id}}">Profilim</a></li>
                            <!--{% if user.groups %}
                            {% for g in user.groups %}
                                <li><a href="/grup/{{g}}">{{g}}</a></li>
                            {% endfor %}
                            {% endif %}-->
                            <li><a href="/profil_duzenle">Ayarlar</a></li>
                            <li>
                              <a href="/mesajlarim">
                                  Mesajlar
                                  <span id="unread_messages" class="badge" style="background-color:#ed9c28"></span>
                              </a>
                            </li>
                            <li><a href="/esyalarim">Eşya Kütüphanem</a></li>
                            <li><a href="/davet_et">Davet Et</a></li>

                            {% if 'admin' in user.roles or 'moderator' in user.roles %}
                              <li><a href="/moderation">Moderasyon</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="/logout">Çıkış Yap</a></li>
                        </ul>

                    </li>
                </ul>
            {%else%}
                  <div id="types" class="btn-group" style="float:right; margin-top:24px;">
                    <button name="color" type="button" class="btn" style=" height:40px; cursor:pointer;
            color: #929090;
            background-color: #ffffff;
            border-color: #bcbcbc;" onclick="window.location.href='/login'">Giriş Yap</button>
<!--                     <button name="color" type="button" class="btn" style=" height:40px; cursor:pointer;
            color: #ffffff;
            background-color: #48bfbf;
            border-color: #bcbcbc;" onclick="window.location.href='/register'">Üye Ol</button> -->
                  </div>
            {%endif%}
        </div> <!-- /.navbar-collapse -->
      </div>
    </nav>
</div>

<div class="menu-bar-div">
    <ul style="list-style:none;">
        <li style="float:left; padding-right:20px;">
            <a href="/nasil_calisir" style="color:white; text_decoration:none;">
                NASIL ÇALIŞIR?
            </a>
        </li>

        <li style="float:left; padding-right:20px;">
            <a href="/category/Hepsi/" style="color:white; text_decoration:none;">
                KATEGORİLER
            </a>
        </li>

        <li style="float:left; padding-right:20px;">
            <a href="/iletisim" style="color:white; text_decoration:none;">
                İLETİŞİM
            </a>
        </li>
    </ul>
</div>
