{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/item_box.html" import render_item_box %}
{% from "macros/request_modal.html" import request_modal %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Anasayfa{% endblock %}
{% block content %}

<script src="http://connect.facebook.net/en_US/all.js"></script>

<!--{% if not user.is_authenticated() %}
    <div class="row">
        <div class="col-md-6 mm-8">
            <div style="padding:15px;  border:1px solid #d2d2d2; cursor:pointer;">
                Yeni misin? Nasıl çalışır, ben ne yapabilirim diye merak mı ediyorsun? İZLE
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-md-offset-2" style="text-align:right;">
            <button type="button" class="btn btn-success" style="margin-bottom:5px;" onclick="window.location.href='/register'">Hemen Kayıt Ol</button>
            <form action="/provider_login/facebook" method="POST">
                <button type="submit" class="btn" style="color:white; background-color:#3c599f;" value="Login with Facebook">Facebook ile bağlan</button>
            </form>
        </div>
    </div>
{% endif %}-->

<div class="row" id="hideInfo">
    <img class="img-responsive" src="/static/images/eknedir2.png" style="margin:0 auto;"/>
    <!--<img class="img-responsive" src="/static/images/banner.png" style="margin:0 auto;"/>-->
</div>

<div class="row" style="background:url('/static/images/search.png'); margin:30px auto; max-width:810px; padding:30px 15px; color:white; border-radius:10px;">
    <form role="search" name="search" action="/search" method="get">
        <table class="table searchTable">
            <tr>
                <td>Eşya Ara:</td>
                <td>Nerede?</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="stuff" placeholder="Ne Arıyorsun?"></td>
                <td>
                    <input type="text" class="form-control" name="address" placeholder="Nerede Arıyorsun?"></td>
                <td>
                    <button type="submit" class="btn btn-default" onclick="_gaq.push(['_trackEvent', 'Stuff', 'searchStuff', 'Landing Page'])">Ara</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<!--<div class="col-md-12 grayLine"></div>-->
<div class="row" style="margin-left:-16px;">
    {% if last_objects_shared[0] %}
        <div class="col-md-12 col-sm-12">
            <a href="/category/Hepsi/?is_wanted=0" style="color:#333333; ">
                <h3 style="border-bottom: 1px solid #dddddd; padding-bottom: 10px;">Kütüphaneye Eklenenler</h3>
            </a>
        </div>
    {% endif %}

    <div class="col-md-12 col-sm-12">
        <div id="container" class="row fluid">
            {% for stuff in last_objects_shared %}
                {{ render_item_box(stuff, user) }}
            {% endfor %}
        </div>
        <a href="/category/Hepsi/?is_wanted=0" class="pull-right" style="color:black; text-decoration:underline;">
            Paylaşılan diğer eşyaları gör
        </a>
    </div>
</div>

<!--<div class="col-md-12 grayLine"></div>-->
<div class="row" style="margin-left:-16px;">
    {% if last_objects_wanted[0] %}
        <div class="col-md-12 col-sm-12">
            <a href="/category/Hepsi/?is_wanted=0" style="color:#333333; ">
                <h3 style="border-bottom: 1px solid #dddddd; padding-bottom: 10px;">Aranıyor!</h3>
            </a>
        </div>
    {% endif %}
    <div class="col-md-12 col-sm-12">
        <div id="container1" class="row fluid">
            {% for stuff in last_objects_wanted %}
                {{ render_item_box(stuff, user, True) }}
            {%endfor%}
        </div>

        <a href="/category/Hepsi/?is_wanted=1" class="pull-right" style="color:black; text-decoration:underline;">
            Aranan diğer eşyaları gör
        </a>
    </div>
</div>

<div class="col-md-12 col-sm-12 grayLine" style="margin-bottom:50px;"></div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="/kurulus" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Kurulus'])">
            <div>
                <img src="/static/images/kurulus.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="/girisim_yolu" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Girisim yolu'])">
            <div>
                <img src="/static/images/girisimyolu.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="/ekip_ve_gonulluluk" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Ekip'])">
            <div>
                <img src="/static/images/ekip.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>
</div>
{{ request_modal(request_form) }}

{% endblock %}
