{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/item_box.html" import render_item_box %}
{% from "macros/request_modal.html" import request_modal %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Anasayfa{% endblock %}
{% block content %}

    <script src="http://connect.facebook.net/en_US/all.js"></script>

    <!--<div id="popupContact">
        <a id="popupContactClose">x</a>
        <p id="contactArea">
            <h4>Paylaşım Canavarı desteğini bekliyor!</h4>
            <p>
                Things'de Eşya Kütüphanesi'nin yeni yaratımı
                <a href="http://yourthings.org/tr/project/payla%C5%9F%C4%B1m-canavar%C4%B1" target="_blank">Paylaşım Canavarı</a>
                desteklerinizi bekliyor!
                Giriş yapıp minik canavarımıza
                <a href="http://yourthings.org/tr/project/payla%C5%9F%C4%B1m-canavar%C4%B1" target="_blank">oy verirseniz</a>
                ya da bunu duyurarak destek ağımızı genişletmek isterseniz
                çok seviniriz!
            </p>
            <a href="http://yourthings.org/tr/project/payla%C5%9F%C4%B1m-canavar%C4%B1" target="_blank">
                <img class="img-responsive" src="/static/images/pc.png" style="margin:0 auto 20px; width:400px;"/>
            </a>
        </p>
    </div>
    <div id="backgroundPopup"></div>-->
    <div class="blue_line_ek" style="width:200%;left:-50%;">
        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 display_none_l480">
            <img src="/static/images/ekmis.png" class="img-responsive" style="margin:0 auto;"/>
        </div>

        <div class="index_search_area row"  id="padding_top_for_ekimg">
            <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                <form role="search" name="search" action="/search" method="get">
                    <table class="table searchTable">
                        <tr>
                            <td id="width_for_ektd" class="index_search_td index_search_width">
                                <input type="text" class="index_search_input form-control" name="stuff" placeholder="Ne arıyorsun? Ör: Kitap"></td>
                            <td class="display_none_l480" class="index_search_td">
                                <input type="text" class="index_search_input form-control" name="address" placeholder="Şehir? Ör: İstanbul"></td>
                            <td class="text-center">
                                <button type="submit" class="index_search_input btn btn-primary" id="index_search_button" onclick="_gaq.push(['_trackEvent', 'Stuff', 'searchStuff', 'Landing Page'])">ARA</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    {%if not user.is_authenticated()%}
        <div class="row display_none_l768" id="stories">
            <div class="review-area">
                <div class="full-review-area">

                    <div class="single-review-area">
<!--                        <div class="review-owner">
                            <img src="/static/images/p-aysu.png" class="img-responsive"/>
                        </div>-->
                        <div class="review-slides">
                            <div id="review-slides">
                                <div class="review-slides-container">
                                    <div>
                                        <div class="review-text">
                                            "Bir arkadaşımın tavsiyesi üzerine baktım ve çok beğendim."
                                        </div>
                                    </div>
                                    <div>
                                        <div class="review-owner-name">
                                            Yağmur Uğur
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-review-area">
                        <div class="review-slides">
                            <div id="review-slides">
                                <div class="review-slides-container">
                                    <div>
                                        <div class="review-text">
                                             "Paylaşmayı seviyorum, bu yüzden buradayım!"
                                        </div>
                                    </div>
                                    <div>
                                        <div class="review-owner-name">
                                            Elif Yazgaç
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="single-review-area">
                        <div class="review-owner">
                            <img src="/static/images/p-didem.png" class="img-responsive"/>
                        </div>
                        <div class="review-slides">
                            <div id="review-slides">
                                <div class="review-slides-container">
                                    <div>
                                        <div class="review-text">
                                             Eşya Kütüphanesi çok güzel, gelsene! ^^
                                        </div>
                                    </div>
                                    <div>
                                        <div class="review-owner-name">
                                            Didem Yeni
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
            <div class="custom-slider-area">
                <div class="custom-slider-button active" id="review-1"></div>
                <div class="custom-slider-button" id="review-2"></div>
                <!--<div class="custom-slider-button" id="review-3"></div>-->
            </div>
        </div>

        <div class="row display_none_l768">
            <div class="ek_bilgi_yuvarlak_area">
                <div class="ek_bilgi_area info-images">
                    <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="/static/images/bilinclituketim.png" style="margin:0 auto;"/></div>
                    <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="/static/images/mutlucevre.png" style="margin:0 auto;"/></div>
                    <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="/static/images/mutlusicak.png" style="margin:0 auto;"/></div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row" style="margin-top:50px;">
        {% if last_objects_shared[0] %}
            <div class="col-sm-12 col-xs-12">
                <a href="/category/Hepsi/?is_wanted=0" class="index_share_info_text">
                    <h3 class="stuff_number_text">
                        <span class="stuff_number_style">{{stuff_count_shared}}</span> EŞYA ÖDÜNÇ VERİLİYOR
                    </h3>
                </a>
            </div>
        {% endif %}

        <div class="col-sm-12 col-xs-12">
            <div class="row"><!--id="container" class="row fluid"-->
                <div class="col-sm-3 col-xs-6 col_ss_6 display_none_l600 index_share_tumbnail_padding">
                    <a href="/esya_listele">
                        <img src="/static/images/ek-oduncver.png" class="img-responsive" id="index_oduncver_img_bg">
                    </a>
                </div>
                {% for stuff in last_objects_shared %}
                    {{ render_item_box(stuff, user) }}
                {% endfor %}
            </div>
            <a type="button" href="/category/Hepsi/?is_wanted=0" class="btn btn-default pull-right all_stuff_link">
                Verilen tüm eşyalar >>
            </a>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div id="oduncal_area_bg"></div>
        {% if last_objects_wanted[0] %}
            <div class="col-sm-12 col-xs-12">
                <a href="/category/Hepsi/?is_wanted=1" class="index_share_info_text">
                    <h3 class="stuff_number_text">
                        <span class="stuff_number_style">{{stuff_count_wanted}}</span> EŞYA ÖDÜNÇ ARANIYOR
                    </h3>
                </a>
            </div>
        {% endif %}
        <div class="col-sm-12 col-xs-12" style="padding-bottom:20px;">
            <div class="row">
                <div class="col-sm-6 col-xs-6 col_ss_6 display_none_l600 index_share_tumbnail_padding">
                    <a href="/esya_listele?is_wanted=true">
                        <img src="/static/images/ek-oduncal.png" class="img-responsive" id="index_oduncal_img_bg">
                    </a>
                </div>
                {% for stuff in last_objects_wanted %}
                    {{ render_item_box(stuff, user, True) }}
                {%endfor%}
            </div>

            <a type="button" href="/category/Hepsi/?is_wanted=1" class="btn btn-default pull-right all_stuff_link">
                Aranan tüm eşyalar >>
            </a>
        </div>
    </div>

    <script type="text/javascript">
        $(".custom-slider-button").click(function(){
            $(".custom-slider-area div").removeClass('active');
            $(this).addClass('active');

            var marginLeft = 0;
            if( $(this).attr('id')=='review-1' ) {
                marginLeft = '0px';
            } else if( $(this).attr('id')=='review-2' ) {
                marginLeft = '-850px';
            } else if( $(this).attr('id')=='review-3' ) {
                marginLeft = '-1700px';
            }
            $(".full-review-area").animate(
                {'margin-left':marginLeft}, 1000
            );
        });
    </script>
    {{ request_modal(request_form) }}

{% endblock %}
