{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/item_box.html" import render_item_box %}
{% from "macros/request_modal.html" import request_modal %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Anasayfa{% endblock %}
{% block content %}

    <script src="http://connect.facebook.net/en_US/all.js"></script>

    <div style="position:relative; overflow: hidden; width: 100%;">

        {%if user.is_authenticated()%}
            {% if not user.addresses %}
                <div class="col-sm-12 display_none_l768" style="position: absolute; z-index: 1; top: 52px;">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="alert alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            Ödünçlük eşya eklemek ya da ödünç istemek için adres eklemelisin:
                            <strong><a href="/yeni_adres">Adres ekle</a></strong>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <img src="/static/images/yeni/imaj2.jpg" class="img-responsive" style="width:100%; margin: 0 auto;">

        <div class="hero-div">
            <div class="hero-text display_none_320">
                Satın alma ödünç iste, <br>
                kenarda bekletme hemen listele!
            </div>

            <div class="hero-search">
                <form role="search" name="search" action="/search" method="get">
                    <table class="table searchTable">
                        <tr>
                            <td style="width: 57%; padding:0px;">
                                <input type="text" class="form-control" name="stuff" placeholder="Ne arıyorsun?"
                                       style="border-right:0px; border-top-right-radius: 0; border-bottom-right-radius: 0;"></td>
                            <td style="width: 30%; padding:0px;">
                                <input type="text" class="form-control" name="address" placeholder="Şehir"
                                       style="border-top-left-radius: 0; border-bottom-left-radius: 0;"></td>
                            <td class="text-center" style="padding:0px 0px 0px 13px;">
                                <button type="submit" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'Stuff', 'searchStuff', 'Landing Page'])"
                                        style="
height: 52px !important;
background-color: #ffc40c;
border-color: #ffc40c;
padding-right: 20px;
padding-left: 20px; font-family: helvetica; font-size:20px !important; font-weight: lighter; color:#ffffff;">
                                    Ara
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="wth-text display_none_l480">
                <div class="wth-text-number">{{stuff_count_shared}}</div>
                <div class="wth-text-text"> Eşya ödünç veriliyor</div>

                <img src="/static/images/yeni/line.png" style="float:left; margin:17px;"/>

                <div class="wth-text-number">{{stuff_count_wanted}}</div>
                <div class="wth-text-text"> Eşya ödünç aranıyor</div>

            </div>

            <div class="wh-text display_none_l600">
                <div class="wh-text-1"></div>
                <div class="wh-text-2"> </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-9 padding_right">
            <div class="col-sm-12">
                <!--<a href="/category/Hepsi/?is_wanted=0" class="index_share_info_text">-->
                <a href="/category/Hepsi/" class="index_share_info_text">
                    <h3 style="font-family: helvetica; font-size:16px; font-weight:lighter; padding-bottom:5px; border-bottom:1px solid #d3d1d1;">
                       ÖDÜNÇLÜK EŞYALAR
                    </h3>
                </a>
            </div>

            <div class="col-sm-12">
                <div class="row">
                    <div class="item col-md-4 col-sm-6 col-xs-6 col_s320 index_share_tumbnail_padding">
                        <div class="thumbnail" style="background-color: #f4f4f4; border:1px solid #f4f4f4; margin-bottom:13px;">
                            <div style="height:150px; overflow:hidden; padding: 50px 25px; font-size: 18px; font-weight: 500;">
                                SEN DE ÖDÜNÇLÜK EŞYALARINI LİSTELE
                                <br>
                                <span style="font-size:14px;">Eşyanı listele, ihtiyacı olan aradığında seni bulsun...</span>
                            </div>
                            <div class="caption text-center" style="padding:36px;">
                                <button class="btn btn-primary" style="background-color: #48bfbf; border:1px solid #48bfbf;" onclick="window.location.href='/esya_listele'">
                                    Eşya Listele
                                </button>
                            </div>
                        </div>
                    </div>

                    {% for stuff in last_objects_shared %}
                        {{ render_item_box(stuff, user) }}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-sm-3 padding_left">
            <div class="col-sm-12">
                <!--<a href="/category/Hepsi/?is_wanted=1" class="index_share_info_text">-->
                <a href="/category/Hepsi/" class="index_share_info_text">
                    <h3 style="font-family: helvetica; font-size:16px; font-weight:lighter; padding-bottom:5px; border-bottom:1px solid #d3d1d1;">
                       ARANAN EŞYALAR
                    </h3>
                </a>
            </div>

            <div class="item col-sm-12 col-xs-6 col_s320 index_share_tumbnail_padding">
                <div class="thumbnail thumbnail-aranan">
                    <div class="caption text-center" style="text-align: center; line-height: 65px;">
                        <button class="btn btn-primary" style="background-color: #df9ea8; border:1px solid #df9ea8;" onclick="window.location.href='/esya_listele?is_wanted=true'">
                            <span class="display_none_l992">Aradığın </span>Eşyayı Listele
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="row">
                    {% for stuff in last_objects_wanted %}
                        {{ render_item_box(stuff, user, True) }}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

    {{ request_modal(request_form) }}

    <script>
        var url = "http://localhost:5000/static/photos/"+"{{last_objects_shared[0].photos[0].filename}}";
        pic_real_width = url.width;
        pic_real_height = url.height;
        console.log(url);
    </script>

{% endblock %}
