<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/ek.css')}}">
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.10.2.min.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" ></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.raty.min.js') }}" ></script>
	    <script src="{{ url_for('static',filename='js/popup.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36313569-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    <!-- Start Visual Website Optimizer Synchronous Code -->
        <script type='text/javascript'>
        var _vis_opt_account_id = 115926;
        var _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
        document.write('<s' + 'cript src="' + _vis_opt_protocol +
        'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a='+_vis_opt_account_id+'&url='
        +encodeURIComponent(document.URL)+'&random='+Math.random()+'" type="text/javascript">' + '<\/s' + 'cript>');
        </script>

        <script type='text/javascript'>
        if(typeof(_vis_opt_settings_loaded) == "boolean") { document.write('<s' + 'cript src="' + _vis_opt_protocol +
        'd5phz18u4wuww.cloudfront.net/vis_opt.js" type="text/javascript">' + '<\/s' + 'cript>'); }
        // if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above
        </script>

        <script type='text/javascript'>
        if(typeof(_vis_opt_settings_loaded) == "boolean" && typeof(_vis_opt_top_initialize) == "function") {
                _vis_opt_top_initialize(); vwo_$(document).ready(function() { _vis_opt_bottom_initialize(); });
        }
        </script>
        <!-- End Visual Website Optimizer Synchronous Code -->

        <title>{% block title %}Eşya Kütüphanesi{% endblock %}</title>

    {% endblock %}
</head>

<body onload="checkCookie()">
    <div id="header">
        {%block header%}
          {% include 'header.html' %}
        {% endblock %}
    </div>

    <div class="contanier">
        <div class="col-md-12 col-sm-12" style="margin-bottom:30px;">
            <div id="flashing" class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">{% include 'security/_messages.html' %}</div>
        </div>
        <div class="col-md-12 col-sm-12" style=" overflow:hidden;">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1" style="margin-top:50px; padding-top: 20px; border-top: 1px solid #dddddd;">
                {% block footer %}
                    <div class="col-md-12 text-center">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <h5>BİZ KİMİZ?</h5>
                            <ul class="footerUl">
                                <a href="/masalgibi" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Hikayemiz'])">
                                    <li>Hikayemiz</li>
                                </a>
                                <!--<a href="/purpose">
                                    <li>Amacımız</li>
                                </a>-->
                                <a href="/press" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Basin'])">
                                    <li>Basında Biz</li>
                                </a>
                                <a href="/contact" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK İletisim'])">
                                    <li>İletişim</li>
                                </a>
                            </ul>
                        </div>
                        <!--<div class="col-md-3 col-sm-3">
                            <h5>BİRLİKTE ÇALIŞALIM</h5>
                            <ul class="footerUl">
                                <a href="/companies">
                                    <li>Şirketler</li>
                                </a>
                                <a href="/universities">
                                    <li>Üniversiteler</li>
                                </a>
                                <a href="/events">
                                    <li>Etkinlikler</li>
                                </a>
                            </ul>
                        </div>-->
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <h5>EŞYA KÜTÜPHANESİ</h5>
                            <ul class="footerUl">
                                <a href="/sos" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK SSS'])">
                                    <li>Sıkça Sorulan Sorular</li>
                                </a>
                                <!--<a href="#">
                                    <li>Gruplarımız</li>
                                </a>
                                <a href="#">
                                    <li>Video</li>
                                </a>-->
                                <a href="/user_agreement" onclick="_gaq.push(['_trackEvent', 'EK Info', 'click', 'EK Kullanici Sozlesmesi'])">
                                    <li>Kullanıcı Sözleşmesi</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <h5>SOSYAL MEDYA</h5>
                            <ul class="footerUl">
                                <a href="http://blog.esyakutuphanesi.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'EK Sosyal', 'click', 'Blog'])">
                                    <li>Blog</li>
                                </a>
                                <a href="https://www.facebook.com/EsyaKutuphanesi" target="_blank" onclick="_gaq.push(['_trackEvent', 'EK Sosyal', 'click', 'EK Facebook'])">
                                    <li>Facebook</li>
                                </a>
                                <a href="https://twitter.com/esyakutuphanesi" target="_blank" onclick="_gaq.push(['_trackEvent', 'EK Sosyal', 'click', 'EK Twitter'])">
                                    <li>Twitter</li>
                                </a>
                                <!--<a href="#">
                                    <li>Google +</li>
                                </a>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin:30px auto;">Tüm hakları saklıdır - 2014 - Eşya Kütüphanesi</div>
                {% endblock %}
            </div>
        </div>
    </div>
    <script>
        $.getScript('https://cdn.jsdelivr.net/masonry/2.1.08/jquery.masonry.min.js',function(){
            $.getScript('https://cdn.jsdelivr.net/jquery.lazyload/1.8.4/jquery.lazyload.js',function(){
                var $container = $('#container');
                $container.imagesLoaded(function(){
                    $container.masonry({
                        itemSelector: '.item',
                        columnWidth: function(containerWidth){
                            return containerWidth / 12;
                        }
                    });
                });
            });
        });
        $.getScript('https://cdn.jsdelivr.net/masonry/2.1.08/jquery.masonry.min.js',function(){
            $.getScript('https://cdn.jsdelivr.net/jquery.lazyload/1.8.4/jquery.lazyload.js',function(){

              var $container1 = $('#container1');
              $container1.imagesLoaded(function(){
                    $container1.masonry({
                        itemSelector: '.item',
                        columnWidth: function(containerWidth){
                            return containerWidth / 12;
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>