{% extends "layout.html" %}
{% block title %}{{ super() }} - Masal Gibi{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <img src="/static/images/biztext.png" class="img-responsive" style="margin:0 auto 30px;"/>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="/kurulus">
            <div>
                <img src="/static/images/kurulus.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="/girisim_yolu">
            <div>
                <img src="/static/images/girisimyolu.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="/ekip_ve_gonulluluk">
            <div>
                <img src="/static/images/ekip.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </a>
    </div>
</div>

{% endblock %}
