{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/item_box.html" import render_item_box %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Eşyalarım{% endblock %}
{% block content %}

    <style>
        #map-canvas {
            height: 300px;
            width: 400px;
            margin: 0px;
            padding: 0px
        }
    </style>

    <script>
        var myLatlng = new google.maps.LatLng(40.996427,29.033614);
        var mapOptions = {
            zoom: 14,
            center: myLatlng
        }
        var map;
        var markers = [];
        function loadMap() {
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)
        }
        //google.maps.event.addDomListener(window, 'load', initialize);
        function addMarker(lat,lng,title){
            var location = new google.maps.LatLng(lat,lng);
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: title
            });
            markers.push(marker)
        }
    </script>
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 margin-top70">
        <ul class="nav nav-tabs">
            <li>
                <a href="/profil_duzenle" onclick="_gaq.push(['_trackEvent', 'Visit settings', 'click', 'My_stuff Page'])">
                    <span class="blue_line_header sub_menu_text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/mesajlarim" onclick="_gaq.push(['_trackEvent', 'Visit my_messages', 'click', 'My_stuff Page'])">
                    <span class="blue_line_header sub_menu_text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/esyalarim" onclick="_gaq.push(['_trackEvent', 'Visit my_stuff', 'click', 'My_stuff Page'])">
                    <span class="blue_line_header sub_menu_text sub_menu_text_active"><span class="display_none_320">Eşya</span> Kütüphanem</span>
                </a>
            </li>
            <!--<li>
                <a href="/groups">Gruplarım</a>
            </li>-->
            <li class="display_none_l480">
                <a href="/davet_et" onclick="_gaq.push(['_trackEvent', 'Visit invite page', 'click', 'My_stuff Page'])">
                    <span class="blue_line_header sub_menu_text">Davet Et</span>
                </a>
            </li>
        </ul>

        <div class="menu_area_border">
            <div id="container" class="row fluid">
                <!--<div class="item col-sm-3 col-xs-6 display_none_l768">
                    <div class="thumbnail" style="border:0;">
                        <a href="/esya_listele" onclick="_gaq.push(['_trackEvent', 'Stuff', 'shareStuff', 'My_stuff Page'])">
                            <img src="/static/images/esyaekle.png"/>
                        </a>
                    </div>
                </div>-->
                {% for stuff in user.stuff_list %}
                    {{ render_item_box(stuff, user) }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
