{% extends "layout.html" %}
{% block title %}{{ super() }} - Onay Bekliyor{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 text-center" style="margin:50px auto;">
        <p></p>
        <p class="lead">Paylaşımın için teşekkürler! </p>
        <p class="lead">
            Eşyan onay bekliyor. Ödünç için olmayan ya da
            uygunsuz paylaşımları ayıklayarak sana temiz bir site sunabilmek istiyoruz,
            bu nedenle her eşyayı tek tek onaylıyoruz. <br>
            Beklerken <a href="http://blog.esyakutuphanesi.com/"> blogumuza </a> ya da
            <a href="https://www.facebook.com/EsyaKutuphanesi"> facebook </a> sayfamıza göz atabilirsin.
        </p><br><br>
        <p><a href="/"> Ana sayfaya git</a> | <a href="/my_stuff"> Eşya kütüphaneme git </a> </p>
    </div>
</div>

{% endblock %}
