{% from "security/_macros.html" import render_field_with_errors, render_field, render_textarea_with_errors  %}
{% extends "layout.html" %}
{% block title %}Esya Kutuphanesi{% endblock %}
{% block content %}

    <div class="blue_line_ek">
        <div class="row">
            <h2 class="col-sm-12 col-xs-12 text-center blue_line_header">
                Kuruluş
            </h2>
        </div>
    </div>
    <div class="row text-center">
        <img src="/static/images/kurulus_ic.png" class="img-responsive" style="margin:0 auto;"/>
    </div>

{% endblock %}
