{% extends "layout.html" %}
{% block title %}Basın'da Eşya Kütüphanesi{% endblock %}
{% block content %}

    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 margin-top70">
        <h4>
            Basında Biz
        </h4>

        <h4>2016</h4>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                Gazi Haber - Mart 2016 <br>
                <a href="https://drive.google.com/file/d/0B1q2_FRknmv7Y2hjVE5uTkV4cm8/view" target="_blank">
                    Online paylaşım: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Aykut Bal Blog - Mart 2016 <br>
                <a href="https://medium.com/turkce/bunca-s%C4%B1k%C4%B1%C5%9Fm%C4%B1%C5%9Fl%C4%B1%C4%9F%C4%B1n-aras%C4%B1ndan-bir-nefes-e%C5%9Fya-k%C3%BCt%C3%BCphanesi-ec0b3af6cda0#.1uuk47a1f" target="_blank">
                    Bunca sıkışmışlığın arasından bir nefes: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                İdema Haber - Mart 2016 <br>
                <a href="http://www.idemahaber.com/sahip-oldugun-esyalarin-iklimi-nasil-degistirdigini-ogrenmek-ister-misin/" target="_blank">
                    Sahip Olduğun Eşyaların İklimi Nasıl Değiştirdiğini Öğrenmek İster Misin?
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Gökhan'ın İnternet ve Teknoloji Blogu - Ocak 2016 <br>
                <a href="http://www.cancilar.net/2016/01/25/odunc-esya-platformu/" target="_blank">
                    Ödünç Eşya Platformu
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Webrazzi - Ocak 2016 <br>
                <a href="http://webrazzi.com/2016/01/19/esyakutuphanesi-com-esya-paylasimi-uzerine-kurulu-sosyal-girisim/" target="_blank">
                    EsyaKutuphanesi.com, eşya paylaşımı üzerine kurulu sosyal girişim
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Biz Evde Yokuz - Ocak 2016 <br>
                <a href="http://www.bizevdeyokuz.com/2016-efsane-gecmesi-icin-10-benzersiz-oneri" target="_blank">
                    2016’NIZIN DOLU DOLU GEÇMESİ İÇİN 10 BENZERSİZ ÖNERİ
                </a>
            </div>
        </div>

        <h4>2015</h4>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                Diriliş Gazetesi - Kasım 2015 <br>
                <a href="http://dirilisgazetesi.com.tr/esya-kutuphanesi-en-iyiler-arasinda/" target="_blank">
                    “Eşya Kütüphanesi” en iyiler arasında
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Trendhaber - Eylül 2015 <br>
                <a href="http://www.trendhaber.tv/genel/esyanin-odunc-verildigi-yer-esya-kutuphanesi-h44903.html" target="_blank">
                    Eşyanın ödünç verildiği yer: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Haberler.com - Eylül 2015 <br>
                <a href="http://www.haberler.com/esyanin-odunc-verildigi-yer-esya-kutuphanesi-7655917-haberi/" target="_blank">
                    Eşyanın ödünç verildiği yer: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Memleket.com.tr - Eylül 2015 <br>
                <a href="http://www.memleket.com.tr/esyanin-odunc-verildigi-yer-esya-kutuphanesi-710270h.htm" target="_blank">
                    Eşyanın ödünç verildiği yer: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Açık Radyo - Eylül 2015 <br>
                <a href="http://sosyalgirisimci-lik.blogspot.com.tr/2015/09/3-eylul-2015-gunu-programn-konuklar-van.html" target="_blank">
                    Toplumsal Dönüşüm için SOSYAL GİRİŞİMCİLİK
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Aslıhan Tan Blog - Aralık 2015 <br>
                <a href="http://aslihan-tan.blogspot.com.tr/2015/12/elinizde-avucunuzda-tuttugunuz.html?spref=fb" target="_blank">
                    Elinizde avucunuzda tuttuğunuz
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                KOBİ Girişim - Ağustos 2015 <br>
                <a href="https://drive.google.com/a/esyakutuphanesi.com/file/d/0B1q2_FRknmv7cmw0TFAzLU5HMDQ/view" target="_blank">
                    Ödünç eşya platformu ödül getirdi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Zaman Gazetesi - Temmuz 2015 <br>
                <a href="http://www.zaman.com.tr/cumaertesi_komsuluk-internete-tasindi-tornavidayi-odunc-alabilir-miyim_2303420.html" target="_blank">
                    Komuşuluk İnternete Taşındı: Tornavidayı ödünç alabilir miyim?
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Ekokritik - Temmuz 2015 <br>
                <a href="http://ekokritik.com/haber/guncel/FKMJMG9KM9RAV8BQ" target="_blank">
                    Paylaşımını yeni hali Eşya Kütüphanesi'nde
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Bigumigu - Mayıs 2015 <br>
                <a href="http://bigumigu.com/haber/istanbul-paylasim-haritasi" target="_blank">
                    İstanbul paylaşım haritası
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Gaia Dergi - Nisan 2015 <br>
                <a href="https://gaiadergi.com/baska-bir-istanbulu-haritalamaya-davet-var/" target="_blank">
                    Başka bir İstanbul'u haritalamaya davet var
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Yeşilist - Mart 2015 <br>
                <a href="http://www.yesilist.com/cms.php?u=esya-bahane-sohbet-sahane&id=1942" target="_blank">
                    Eşya bahane, sohbet şahane!
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Gaia Dergi - Şubat 2015 <br>
                <a href="https://gaiadergi.com/paylasarak-baska-bir-dunya-mumkun-esya-kutuphanesi/" target="_blank">
                    Paylaşarak başka bir dünya mümkün: Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Kadınlar Arası - Şubat 2015 <br>
                <a href="http://www.kadinlararasi.com/0001_guncel/paylasimin-yeni-halinin-cesur-girisimcileri" target="_blank">
                    "Paylaşımın Yeni Hali"nin Cesur Girişimcileri
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Çevreci Etkinlikler - Ocak 2015 <br>
                <a href="http://www.cevrecietkinlikler.com/event/esya-kutuphanesi-istanbul-bulusmasinda-paylasima-davet-ediyor/" target="_blank">
                    Eşya Kütüphanesi İstanbul buluşmasında paylaşıma davet ediyor
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Çepeçevre - Ocak 2015 <br>
                <a href="http://cepecevre.com/paylasarak-baska-bir-dunya-mumkun-esya-kutuphanesi/?utm_content=buffereb95a&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer" target="_blank">
                    Sürekli tüketime karşı kişisel, mutlu adımlar
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                line.do - Ocak 2015 <br>
                <a href="https://line.do/tr/paranin-gecmedigi-paylasim-siteleri/chk/vertical?utm_content=buffer51194&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer" target="_blank">
                    Paranın geçmediği paylaşım siteleri
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                İstanbul Haber Blogu - Ocak 2015 <br>
                <a href="https://www.youtube.com/watch?v=3mn-9sjNMAk" target="_blank">
                    Sosyal Girişimcilikten Eşya Kütüphanesi'ne
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                TimeOut İstanbul - Ocak 2015 <br>
                <a href="http://www.timeoutistanbul.com/sehirdenevar/makale/3765/Ba%C5%9Fka-bir-ya%C5%9Fam-m%C3%BCmk%C3%BCn/2" target="_blank">
                    Daha yeşil ve yavaş bir hayat için: Harekete geç
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Proje Panosu - Ocak 2015 <br>
                <a href="http://www.projepanosu.com/haber/roportaj/esya%27nin-paylasildigi-yer:-esya-kutuphanesi/407.html" target="_blank">
                    Eşyanın paylaşıldığı yer: Eşya Kütüphanesi
                </a>
            </div>
        </div>

        <h4>2014</h4>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                Posta Gazetesi - Aralık 2014 <br>
                <a href="http://www.posta.com.tr/cumartesipostasi/YazarHaberDetay/Dunyadan-iyilikler--guzellikler---.htm?ArticleID=260658&utm" target="_blank">
                    Dünyadan iyilikler, güzellikler...
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Olay Gazetesi - Aralık 2014 <br>
                <a href="http://www.olay.com.tr/yazarlar/adnan-bastopcu/sosyal-medya-parayi-kaldirdi/1181/" target="_blank">
                    Sosyal medya parayı kaldırdı!..
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Çevreci Etkinlikler - Aralık 2014 <br>
                <a href="http://cevrecietkinlikler.com/2014/12/20/yeni-yilin-tuketim-degil-uretim-ve-paylasim-yili-olabilecegine-10-kanit/" target="_blank">
                    Yeni yılın tüketim değil, üretim ve paylaşım yılı olabileceğine 10 kanıt
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Yeşilist - Aralık 2014 <br>
                <a href="http://www.yesilist.com/cms.php?u=paranin-gecmedigi-13-paylasim-yeri&id=1777" target="_blank">
                    Paranın geçmediği 13 paylaşım platformu
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Onedio.com - Kasım 2014 <br>
                <a href="http://onedio.com/haber/kullanmadiklarimizi-degerlendirebilecegimiz-12-paylasim-platformu-409040" target="_blank">
                    Kullanmadıklarımızı Değerlendirebileceğimiz 12 Paylaşım Platformu
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Kuledibi - Haziran 2014 <br>
                <a href="http://www.kuledibi.org/manset/esyakutuphanesi/" target="_blank">
                    "Ne kadar bolluk bereket içinde yaşadığımızın her zamankinden daha çok farkındayız."
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Buğday - Mayıs 2014 <br>
                <a href="http://www.bugday.org/portal/haber_detay.php?hid=7154" target="_blank">
                    Eşya Kütüphanesi'nin yeni buluşma noktası: Halka Sanat
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Optimist Dergi - Mayıs 2014 <br>
                <a href="http://gold.ajanspress.com.tr/extp/MzgzNDY0NDUmMSYxNjAxJjIzMjY1MQ%3D%3D#.U54NxvmSwmt" target="_blank">
                    Bilgi GSGÖ 4'üncü Mezunlarını Verdi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Yeşil Gözlüklerim - Nisan 2014 <br>
                <a href="http://yesilgozluklerim.blogspot.com.tr/2014/04/esyann-dayanlmaz-agrlg.html" target="_blank">
                    Eşyanın dayanılmaz ağırlığı
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Hürriyet Ankara - Nisan 2014 <br>
                <a href="http://www.hurriyet.com.tr/ankara/26172131.asp" target="_blank">
                    Tüketime karşı paylaşım pazarı
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Haberler.com - Nisan 2014 <br>
                <a href="http://www.haberler.com/bilgi-genc-sosyal-girisim-odulleri-dorduncu-kez-5873048-haberi/" target="_blank">
                    BİLGİ Genç Sosyal Girişim Ödülleri
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Türk İnternet - Nisan 2014 <br>
                <a href="http://www.turk-internet.com/portal/yazigoster.php?yaziid=46453" target="_blank">
                    BİLGİ Genç Sosyal Girişim Ödülleri
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                DevFest Women - Mart 2014 <br>
                <a href="http://www.paylas.com/video/teknolojinin-sosyal-faydasi-devfest-women-" target="_blank">
                    Sosyal fayda için teknoloji paneli
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Zehirsiz Ev - Şubat 2014 <br>
                <a href="http://www.zehirsizev.com/etkinlik/paylasim-ekonomisi-bulusmasi-yeryuzu-dernegi-zumbara-esya-kutuphanesi-ekolojik-gezgin/" target="_blank">
                    Paylaşım ekonomisi buluşması
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Açık Radyo - Ocak 2014 <br>
                <a href="http://sosyalgirisimci-lik.blogspot.com.tr/2014/01/23-ocak-2014-gunu-programn-konuklar-3.html" target="_blank">
                    Toplumsal dönüşüm için sosyal girişim
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Yeşilin Aslı - Ocak 2014 <br>
                <a href="http://www.yesilinasli.com/2014/01/17/neden-esya-kutuphanesi/" target="_blank">
                    Neden Eşya Kütüphanesi
                </a>
            </div>
        </div>

        <h4>2013</h4>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                TGRT Haber - Aralık 2013 <br>
                <a href="http://www.youtube.com/watch?v=t5ZZSMiuEMw&feature=youtu.be" target="_blank">
                    Eşya Kütüphanesi - Bilgi Genç Sosyal Girişimciler
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Milliyet.com.tr - Kasım 2013 <br>
                <a href="http://www.milliyet.com.tr/bilgi-nin-genc-sosyal/ekonomi/ydetay/1793423/default.htm" target="_blank">
                    Bilgi'nin Genç Sosyal Girişimcileri
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Optimist Dergi - Kasım 2013 <br>
                <a href="https://www.facebook.com/photo.php?fbid=459648240820657" target="_blank">
                    Evde durmasın, başkaları faydalansın
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Açık Radyo - Ağustos 2013 <br>
                <a href="http://sosyalgirisimci-lik.blogspot.com.tr/2013/08/22-agustos-2013-gunu-programn-konusu.html" target="_blank">
                    Genç Sosyal Girişimciler Buluşması
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Yeşilist - Ağustos 2013 <br>
                <a href="http://www.yesilist.com/cms.php?id=1151" target="_blank">
                    Eşya Kütüphanesi
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Hürrüyet Daily News - Temmuz 2013 <br>
                <a href="http://www.hurriyetdailynews.com/Default.aspx?pageID=517&nID=51124&NewsCatID=344" target="_blank">
                    Sharing and gift economies bloom in Turkey
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Hürriyet Pasaj - Temmuz 2013 <br>
                <a href="http://www.hurriyet.com.tr/pasaj/23661042.asp" target="_blank">
                    İhtiyacın yoksa verrr gitsin
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Startup Cultures - Temmuz 2013 <br>
                <a href="http://startupcultures.wordpress.com/2013/07/03/hug-day-coming-to-an-office-near-you/" target="_blank">
                    Hug day, coming to an office near you
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Posta Gazetesi - Nisan 2013 <br>
                <a href="http://www.posta.com.tr/cumartesipostasi/HaberDetay/Dolaplari-bosaltin-birileri-sevinsin-.htm?ArticleID=171717" target="_blank">
                    Dolapları boşaltın birileri sevinsin
                </a>
            </div>
            <div class="col-sm-12 col-xs-12">
                Bianet - Mart 2013 <br>
                <a href="http://www.bianet.org/biamag/yasam/144926-baskasinin-ihtiyacindan-bana-ne" target="_blank">
                    Başkasının ihtiyacından bana ne!
                </a>
            </div>
        </div>
    </div>

{% endblock %}
