{% extends "layout.html" %}
{% block title %}Basın'da Eşya Kütüphanesi{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 text-left">
        <img src="/static/images/basin/2014.png"/>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://onedio.com/haber/kullanmadiklarimizi-degerlendirebilecegimiz-12-paylasim-platformu-409040" target="_blank">
                <img src="/static/images/basin/24.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.kuledibi.org/manset/esyakutuphanesi/" target="_blank">
                <img src="/static/images/basin/23.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://gold.ajanspress.com.tr/extp/MzgzNDY0NDUmMSYxNjAxJjIzMjY1MQ%3D%3D#.U54NxvmSwmt" target="_blank">
                <img src="/static/images/basin/22.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://yesilgozluklerim.blogspot.com.tr/2014/04/esyann-dayanlmaz-agrlg.html" target="_blank">
                <img src="/static/images/basin/21.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.hurriyet.com.tr/ankara/26172131.asp" target="_blank">
                <img src="/static/images/basin/20.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.haberler.com/bilgi-genc-sosyal-girisim-odulleri-dorduncu-kez-5873048-haberi/" target="_blank">
                <img src="/static/images/basin/19.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.turk-internet.com/portal/yazigoster.php?yaziid=46453" target="_blank">
                <img src="/static/images/basin/18.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.paylas.com/video/teknolojinin-sosyal-faydasi-devfest-women-" target="_blank">
                <img src="/static/images/basin/17.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.zehirsizev.com/etkinlik/paylasim-ekonomisi-bulusmasi-yeryuzu-dernegi-zumbara-esya-kutuphanesi-ekolojik-gezgin/" target="_blank">
                <img src="/static/images/basin/16.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img src="/static/images/basin/15.png"/>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://sosyalgirisimci-lik.blogspot.com.tr/2014/01/23-ocak-2014-gunu-programn-konuklar-3.html" target="_blank">
                <img src="/static/images/basin/14.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.yesilinasli.com/2014/01/17/neden-esya-kutuphanesi/" target="_blank">
                <img src="/static/images/basin/13.png"/>
            </a>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 text-left">
        <img src="/static/images/basin/2013.png"/>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.youtube.com/watch?v=t5ZZSMiuEMw&feature=youtu.be" target="_blank">
                <img src="/static/images/basin/12.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.milliyet.com.tr/bilgi-nin-genc-sosyal/ekonomi/ydetay/1793423/default.htm" target="_blank">
                <img src="/static/images/basin/11.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://www.facebook.com/photo.php?fbid=459648240820657" target="_blank">
                <img src="/static/images/basin/10.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img src="/static/images/basin/9.png"/>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://sosyalgirisimci-lik.blogspot.com.tr/2013/08/22-agustos-2013-gunu-programn-konusu.html" target="_blank">
                <img src="/static/images/basin/8.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.yesilist.com/cms.php?id=1151" target="_blank">
                <img src="/static/images/basin/7.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.hurriyetdailynews.com/Default.aspx?pageID=517&nID=51124&NewsCatID=344" target="_blank">
                <img src="/static/images/basin/6.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.hurriyet.com.tr/pasaj/23661042.asp" target="_blank">
                <img src="/static/images/basin/5.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://startupcultures.wordpress.com/2013/07/03/hug-day-coming-to-an-office-near-you/" target="_blank">
                <img src="/static/images/basin/4.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.bianet.org/biamag/yasam/144926-baskasinin-ihtiyacindan-bana-ne" target="_blank">
                <img src="/static/images/basin/3.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://www.posta.com.tr/cumartesipostasi/HaberDetay/Dolaplari-bosaltin-birileri-sevinsin-.htm?ArticleID=171717" target="_blank">
                <img src="/static/images/basin/2.png"/>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img src="/static/images/basin/1.png"/>
        </div>
    </div>
</div>

{% endblock %}
