{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/item_box.html" import render_item_box %}
{% from "macros/request_modal.html" import request_modal %}
{% extends "layout.html" %}
{% block title %}{{ super() }} - Arama{% endblock %}
{% block content %}

    <div class="row">
        <div style="background-color:#30bcdf; position:absolute; width:200%; left:-30%; height:64px;"></div>
        <div class="col-sm-12 col-xs-12" style="padding:15px; line-height:34px;color:white;">
            {% if last_objects[0] %}
                <div class="col-sm-6 col-xs-10">Senin için şu eşyaları bulduk:</div>
            {% else %}
                <div class="col-sm-6 col-xs-10 display_none_l480">Henüz böyle bir eşya paylaşılmamış.</div>
                <span class="displaywhen480">Eşya bulunamadı.</span>
            {% endif %}
            <div class="col-sm-6 col-xs-2">
                <button type="button" class="btn btn-warning pull-right display_none_l480" onclick="window.location.href='/esya_listele?is_wanted=true', _gaq.push(['_trackEvent', 'Stuff', 'listWantedStuff', 'Search Page'])">Aranıyor ilanı ver</button>
                {%if last_objects[0]%}
                    <span class="pull-right display_none_l768" style="margin-right:5px;">Aradığın burada yok mu?</span>
                {%endif%}
            </div>
        </div>

        <div class="col-sm-12 col-xs-12" style="margin-top:20px;">
            <div id="container" class="row fluid">
                {% for stuff in last_objects %}
                    {% if stuff.is_wanted %}
                        {{ render_item_box(stuff, user, True ) }}
                    {% else %}
                        {{ render_item_box(stuff, user ) }}
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
    {{ request_modal(request_form) }}

{% endblock %}
