<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/css/coiki.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <title>CO2 Hesapla</title>

</head>
<body>
    <div id="home-logo">
        <img src="/static/images/coiki/gul.png" style="margin:-120px auto 20px;"/>
        <br>
            {% if sharing_p != 0 %}
                <div id="motto2">
                    Eşyanızı {{sharing_p}} kişi ortak kullanarak yeryüzüne
                    <span style="font-size:52px; color:#7ec247; display:block;">{{result}} kg CO2</span> salınımını engellediniz.
                </div>
            {% else %}
                <div id="motto-nosharing">
                    Eşyalarınızı ortak kullanarak yeni bir eşyanın üretilmesiyle ortaya çıkan karbon salınımını engelleyebilirsiniz.
                </div>
            {% endif %}

        <div id="action" style="margin-top:100px;">
            <span><a href="#referans" data-toggle="modal" data-target=".bs-example-modal-sm">Referanslar</a></span>
            <span id="slipper">|</span>
            <span><a href="/coiki_hesapla">Yeniden Hesapla</a></span>
        </div>
    </div>

    <div style="position:absolute; bottom:20px; right:150px;">
        <a href="/coiki#nedir" style="color:#333333; font-size:13px;">Karbon Salınımı Nedir?</a> |
        <a href="http://esyakutuphanesi.com/" target="_blank" style="color:#333333; font-size:13px;">Eşya Kütüphanesi</a> |
        <a href="http://www.yesilist.com/" target="_blank" style="color:#333333; font-size:13px;">Yeşilist</a>
    </div>

</body>
</html>