<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/css/coiki.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <title>CO2 Hesapla</title>

</head>
<body>
    <div id="home-logo">
        <img src="/static/images/coiki/gul.png" style="margin:-120px auto 20px;"/>
        <div id="motto2">
            Eşyanı başkalarıyla ortak kullanarak yeryüzüne
            <span style="font-size:52px; color:#7ec247; display:block;">141,83 kg CO2</span> salınımını engelledin.
            {{electronic_list}}-{{vehicle_list}}

        </div>

        <div id="action" style="margin-top:100px;">
            <span><a href="#referans">Referanslar</a></span>
            <span id="slipper">|</span>
            <span><a href="/coiki_hesapla">Yeniden Hesapla</a></span>
        </div>
    </div>

    <div style="position:absolute; bottom:20px; right:150px;">
        <a href="/coiki#nedir" style="color:#333333; font-size:13px;">Karbon Salınımı Nedir?</a> |
        <a href="http://esyakutuphanesi.com/" target="_blank" style="color:#333333; font-size:13px;">Eşya Kütüphanesi</a> |
        <a href="http://www.yesilist.com/" target="_blank" style="color:#333333; font-size:13px;">Yeşilist</a>
    </div>

    <div id="referans" style="width:800px; position:relative; top:700px; margin:300px auto;">
        <a href="/static/images/coiki/120321_BIOCHEM_LCA_review.pdf">Biochem - Review of LCIA Methods</a>
        <br>
        <a href="/static/images/coiki/LCIA_METHODS_v.1.5.4.pdf">Greendela LCIA Methods</a>
    </div>

</body>
</html>