{% extends "layout.html" %}
{% block title %}{{ super() }} - Sıkça Sorular Sorular{% endblock %}
{% block content %}
<h4>Nedir bu Eşya Kütüphanesi?</h4>

<p>
	Eşya Kütüphanesi, eşyalarını ödünç alıp vererek çevrendekilerle paylaşmanı kolaylaştıran online bir platformudur.
</p>
</br>

<h4>Neden üye olmam gerekiyor?</h4>

<p>
	Şu anda sigorta, kimlik onaylama vb. gibi bir güvenlik aşamamız olmadığı için sitemizi birbirini tanıyan arkadaşlara özel yaptık. Yani kaydolmak için üye olan bir arkadaşının sana göndereceği bir davetiyeye ihtiyacın var.
</p>
</br>

<h4>Üye olan bir arkadaşım yok. Nasıl üye olacağım?</h4>

<p>Eğer etrafında üye olmuş kimse yoksa bize ulaş tanışalım.</p>
</br>

<h4>Nasıl çalışır?</h4>

<p>
	Eşya Paylaş butonuna tıklayarak ödünç vermek istediğin eşyaları listeleyebilir, Paylaşılan Eşyalar sayfasına göz atabilir ya da ihtiyacınız olan şeyi arayabilirsiniz.
</p>
</br>

<h4>Tamam da ben neden kullanayım?</h4>

<p>
	Aşağıdaki senaryoların benzerlerini yaşadıysanız, bilinçli tüketici olma yolunda bir adım atmak istiyorsanız ya da sadece paylaşmaktan keyif alıyorsanız, burası tam size göre!
</p>
<p>
	“Lavabom su akıtıyor, silikon tabancasına ihtiyacım var, ama alsam bir daha ne zaman kullanacağım?”
</p>
<p>
	“Hep gitar çalmak istedim, ama becerebilir miyim, bir deneme şansım olsa!”
</p>
<p>
	“Bu matkabı aldım ama en son ne zaman kullandım hatırlamıyorum.”
</p>
<p>
	“1 ay boyunca şehir dışındayım ve bisikletim kapının önünde kullanılmadan duracak.”
</p>
</br>

<h4>Neleri paylaşabilirim?</h4>

<p>
	Bu tamamen yaratıcılığınıza kalmış! Bugüne kadar ayakkabıdan kedi kutusuna, tekneden beton kırıcısına kadar birçok şey duyduk. Şu anda anasayfamızda yer alan rehber size fikir verebilir. Tabii ki paylaşamayacağınız bazı şeyler de var, bunlar için hemen sonraki soruya bakabilirsiniz.
</p>
</br>

<h4>Neleri paylaşmam uygun olmaz?</h4>

<p>
	Başına bir şey gelmesi durumunda kendinizi paralayacağınız eşyalarınızı paylaşmanızı tavsiye etmiyoruz. Bunun yanı sıra canlıların paylaşımı konusunda hassasız. Ancak “köpek almadan önce köpek sahibi olma deneyimi yaşansın ki, sonradan “ağır geldi” diyerek köpekler sokağa bırakılmasın” diyerek köpeğini paylaşmak isteyen bir kullanıcımız da oldu ve biz de kabul ettik.
</p>
</br>

<h4>Eşyalarımı size versem, ihtiyacı olana iletseniz olur mu?</h4>

<p>
	Şu anda birincil amacımız ödünç alıp vermeyi arttırmak. Hibe için bizimle beraber haberleri çıkan diğer kurum ve oluşumlara göz atabilirsiniz.
</p>
</br>

<h4>Eşyamı ilk isteyene ödünç vermek zorunda mıyım?</h4>

<p>
	Hayır, eşyalarınızı kime ödünç vereceğiniz tamamen size kalmış. Ödünç alma talebinde bulunan kullanıcılar arasında seçim yapabilir, içinize sinmiyorsa ödünç vermeyebilirsiniz.
</p>
</br>

<h4>
	1 haftalık bir dalışa gidiyorum, burada dalış malzemesi bulabilir miyim?
</h4>

<p>
	Tabii ki! Eşya Kütüphanesi, hobi ve ilgi alanları için gereken çok çeşit eşyaya ev sahipliği yapıyor.
</p>
</br>

<h4>Neden eşyanın konumunu belirtmem gerekiyor?</h4>

<p>
	Eşyanızın yerini net olarak belirtmeniz, ödünç işleminin gerçekleşmesini hızlandırıyor. Bununla birlikte, istemediğiniz taktirde kesinlikle adres bilgilerinizi paylaşmak zorunda değilsiniz.
</p>
</br>

<h4>
	Evimin adresini vermek istemiyorum, başka nerede buluşabilirim?
</h4>

<p>
	Bu tamamen size kalmış! İş yeri yakınındaki kahvecide, parklarda, hatta yolun ortasında bile olur… Ama biz, çay/kahve alıp, oturup biraz da sohbet edebileceğiniz bir yerde buluşmanın, hem sizler, hem de eşyalar açısından daha iyi olduğunu düşünüyoruz.
</p>
</br>

<h4>Paylaştığım eşyaya zarar gelirse ne olacak?</h4>

<p>
	Eşya Kütüphanesi olarak, biz yalnızca ödünç alıp verebileceğiniz insanlara ulaşmanızı sağlayan bir platform sunuyoruz. Bu noktadan sonraki her türlü etkileşim siz ve ödünç işlemini gerçekleştirdiğiniz kişi arasındadır. Eşyanın zarar görmesi durumunda, bu işin nasıl çözüleceğine karşılıklı oturup konuşarak karar verebileceğinize inanıyoruz.
</p>
</br>

<h4>Ne kadar süreli paylaşabiliyoruz?</h4>

<p>
	Paylaşma süresi ödünç veren kişi tarafından önceden belirlenmemişse, bu süre iki kişi arasında kararlaştırılabilir. Şehir dışına giderken bisikletinizi 3 aylık verebilirken, ekmek yapma makinenizi sadece bir pazar öğleden sonrası için verebilirsiniz.
</p>
</br>

<h4>Siz nasıl para kazanıyorsunuz?</h4>

<p>
	Henüz kazanmıyoruz. “Bize Ulaş” sayfasından bu işi devam ettirmemize yardımcı olacak, gönüllümüz olmak istediğiniz alanı bize yazabilir ya da 2014′te topluluk fonlaması kampanyamız başladığında sizi haberdar etmemiz için e-posta adresinizi bırakabilirsiniz.
</p>
</br>

<h4>Eşya listelemek için para vermem gerekiyor mu?</h4>

<p>
	Kesinlikle hayır! Ödünç vermek ve ödünç istemek tamamen ücretsiz.
</p>
</br>

<h4>Eşyalarımı buradan kiralayabilir miyim?</h4>

<p>
	Bizim için Eşya Kütüphanesi’nin öncelikli hedefi insanlar arasındaki güveni sağlamlaştırmak ve tüketim konusunda bilinçlenme sağlamak. Biz bunun için en uygun yolun para alışverişine girmeden, ödünç alıp verme olduğunu düşündük. Kiralamak isterseniz sizi yargılamayız, ancak şu anda kişiler arası kiralamaya olanak sağlayan bir düzenlememiz olmadığı için bu tip ilanlara maalesef yer veremiyoruz.
</p>
</br>

<p>
	Bu sorular haricinde kafanıza takılan bir konu varsa bize her zaman bilgi@esyakutuphanesi.com adresinden ulaşabilirsiniz.
</p>

<p>Keyifli paylaşımlar dileriz!</p>

{% endblock %}
