{% extends "layout.html" %}
{% block content %}
<h2 class="text-center" style="margin-bottom:40px; ">Eşya Kütüphanesi İstatistikler</h2>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            2368
        </div>
        <div class="col-xs-12">
            Listedeki Kişi Sayısı
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ user_count }}
        </div>
        <div class="col-xs-12">
            Kullanıcı Sayısı
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ stuff_count }}
        </div>
        <div class="col-xs-12">
            Paylaşılan Eşya Sayısı
        </div>
    </div>
</div>
<br><br>
<div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ user_with_stuff_count }}
        </div>
        <div class="col-xs-12">
            Eşya Paylaşan Kullanıcı Sayısı
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ '{0:0.2f}'.format(user_with_stuff_count / user_count) }}
        </div>
        <div class="col-xs-12">
            Aktifleştirme Oranı
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ '{0:0.2f}'.format( user_count / 2368) }}
        </div>
        <div class="col-xs-12">
            Dönüştürme Oranı
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="col-xs-12" style="font-size:36px; color:#f0ad4e;">
            {{ '{0:0.2f}'.format(stuff_count / user_with_stuff_count) }}
        </div>
        <div class="col-xs-12">
            Ortalama Paylaşım Adedi
        </div>
    </div>
</div>
{% endblock %}