{% from "security/_macros.html" import render_field_with_errors, render_field, render_textarea_with_errors  %}
{% extends "layout.html" %}
{% block content %}

    <div class="blue_line_ek">
        <div class="row">
            <h2 class="col-sm-12 col-xs-12 text-center blue_line_header">
                Ekip ve Gönüllülük
            </h2>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12"><br>
        <p>
            Biz yola Eşya Kütüphanesi'ne gönül vererek başladık. Yani ilk günden itibaren gönüllülerle büyüdü Eşya Kütüphanesi.
            Şu anda da yazılımcılarımızdan grafik tasarımcılarımıza, avukatımızdan mali müşavirimize pek çok gönüllümüz var.
            Platformumuzu açık kaynak kodlu geliştirerek de ileride daha da fazla gönüllüye açılmayı planlıyoruz.
        </p>
        <div class="col-sm-6 col-xs-12">
            <h5>Aysu Erdoğdu</h5>
            <p>
                <img src="/static/images/p-aysu.png" class="pull-left"/>
                Aysu ekibi bir araya toplayan kişidir. Sürekli birileri ile çay, kahve içer, "get out of the building" dedikleri
                için sürekli gezinir. Masası "geldik bulamadık, özledik" notları ile doludur. İşini çok sever, "kim sevmez ki"
                diye sağda solda insanları sosyal girişimcilik için gaza getirme çabasındadır.
            </p>
        </div>
        <div class="col-sm-6 col-xs-11">
            <h5>Ayşe Gökçe Bor</h5>
            <p>
                <img src="/static/images/p-ayse.png" class="pull-left"/>
                Ayşe ekibin fikir anası ve sarılma aşığı tasarımcısırdır. Eşya Kütüphanesi onun için başka bir dünyanın
                mümkün olduğunun kanıtıdır ve hiç aklında yokken girişimci olmasını sağlamıştır. Tasarımı, kahkahayı ve sosyal
                faydayı bir araya toplamayı ve topluluk dönüşümleri sağlamayı ummaktadır.
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h5>Didem Yeni</h5>
            <p>
                <img src="/static/images/p-didem.png" class="pull-left"/>
                Didem kedi sever girişimci. Teknoloji girişim (Giysicini) bir yana, sosyal girişimi (Eşya Kütühanesi)
                başka bir yana. İkisiyle de çok mutlu. Kalbinin derinliklerinde daha fazla sosyal problemi çözmek yatıyor.
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h5>Umutcan Önal</h5>
            <p>
                <img src="/static/images/p-umutcan.png" class="pull-left"/>
                Umutcan internet odaklı teknolojiler ile ilgilenmekte ve Eşya Kütüphanesi için gönüllü olarak yazılım
                geliştirmektedir. İleride de sosyal fayda yaratacak yazılımlar ve sistemler üretmeye devam etmek istiyor.
            </p>
        </div>

        <div class="row" >
            <div class="col-sm-12 col-xs-12" style="margin-top:20px;">
                <h4>Mentörlerimiz ve Danışma Kurulumuz</h4>
                Jason Lau - İş geliştirme <br>
                Uğuz Özyılmazer (Vigo) - Yazılım <br>
                Hülya Denizalp - Sosyal girişimcilik, sivil toplum, gönüllülük yönetimi <br>
                Ayşegül Güzel - Armağan kültürü, topluluk oluşturma
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top:20px;">
                <h4>Yolumuzda bize destek olan güzel insanlar</h4>
                Umut Ezgi Bozdağ - İletişim <br>
                Yiğit Güneli - Yazılım <br>
                Ahmet Fahri Küçük - Garfik tasarım <br>
                Sadi Gadiş - Garfik tasarım <br>
                Sevcen Can - Avukat <br>
                Tufan Topçu - Muhasebe <br>
                Meral Yıldırım - Mali müşavir <br>
                Aslı Erdoğdu Demir - Avukat <br>
                Cem Cenk Çoban - Stand desteği ve bilgilendirme <br>
                Burcu Ünal - Stand desteği <br>
                İpek Altunmaral - Arayüz tasarımı <br>
                Deniz Ünal - İletişim <br>
                Sade İncili Şanlı - İletişim <br>
                Orkun Yücel - Eşya Kütüphanesi başlangıç çekirdek ekibi <br>
                Ercan Topçu - Eşya Kütüphanesi başlangıç ekibi <br>
                Oğzhan Yatçı - Eşya Kütüphanesi başlangıç ekibi
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top:20px;">
                <h4>Beraber büyüdüğümüz kurum ve kuruluşlar</h4>
                <img src="/static/images/ekipvegonulluluk_ic.png" class="img-responsive" style="margin:0 auto;"/>
            </div>
        </div>
    </div>

{% endblock %}
