{% extends "layout.html" %}
{% block title %}{{ super() }} - Kullanıcı Sözleşmesi{% endblock %}
{% block content %}

<h3>Kullanıcı Sözleşmesi</h3>

<p>
    Eşya Kütüphanesi olarak kullanıcılarımıza ödünç almayı ve vermeyi kolaylaştıran bir websitesi sunuyoruz. Site üzerinden yapılan tüm ödünç eylemleri, kullanıcılar arasındadır. Site’de yer alan eşyalar ile ilgili bilgi, hizmet veya sağlamlığı hakkında herhangi bir garanti sunmadığımızı unutmamanızı rica ediyoruz.
</p>

</br>

<h4>Kullanım Koşulları</h4>

<p>
    Eşya Kütüphanesi (“Eşya Kütüphanesi”) siteyi ziyaret eden kişilere (“Kullanıcı”) ödünç almak ve ödünç vermek için platform sunan bir websitesidir.
    www.esyakutuphanesi.com (“Site”) sitesinde yer alan tüm işler Eşya Kütüphanesi’ne aittir. Site’yi kullanarak aşağıda belirtilen Kullanım Koşulları’nı (“Sözleşme”) okumuş, anlamış ve kabul etmiş sayılırsınız.
    Eşya Kütüphanesi, Kullanım Koşulları da dahil olmak üzere, Site ve Site uzantılarında mevcut her tür koşulu ve bilgiyi önceden herhangi bir ihtara gerek olmaksızın değiştirme, Sözleşme’yi herhangi bir zamanda kaldırma ve iptal hakkını saklı tutar. Bu değişiklikler, Site’de yayınlanarak veya e-posta yoluyla Kullanıcı’lara bildirilecek ve yayınlandığı tarihten itibaren geçerli olacaktır.
    Sözleşme’deki değişikliklerin yayınlanması sonrasında Site’nin kullanımına devam etmeniz, bu değişiklikleri kabul ettiğiniz anlamına gelir.
</p>
</br>

<h4>Kayıtlar, Hesaplar ve Haklar</h4>

<p>
    Site, Eşya Kütüphanesi tarafından belirlenen hizmetlerin ve içeriklerin sunulduğu bir online platformdur. Bu Sözleşme maddelerine bağlı olarak, Eşya Kütüphanesi devrolunmayan ve tam yetki vermeyen bir hizmet sunar ve yalnızca kişisel ve ticari olmayan amaçlar ile kullanılabilir.
    Site içeriğine yalnızca üyelik formunu doldurarak kayıt gerçekleştiren Kullanıcı’lar ulaşabilir.
    Eşya Kütüphanesi, herhangi bir sebep olmaksızın, üyelere bildirerek veya bildirmeyerek, üyelere karşı herhangi bir sorumluluğu olmaksızın, bu hizmetlerin tamamı veya bir kısmı ile ilgili değişiklik yapma, bu hizmetlerin tamamını veya bir kısmını durdurma hakkını saklı tutar. Eşya Kütüphanesi, Site üzerinden sunacağı hizmetlerin kapsamını ve niteliğini belirlemekte tamamen serbest olup, hizmetlere ilişkin olarak yapacağı değişiklikleri Site’de yayınlamasıyla yürürlüğe koymuş ve Kullanıcı tarafından da kabul edilmiş addedilir.
    Kullanıcı, Facebook hesabı ile kayıt olmayı seçmesi halinde, Facebook hesabının kayıt bilgilerinin gizliliğini korumaktan ve hesap altındaki tüm eylemlerden sorumlu olduğunu kabul eder.
    “Kullanıcı Bilgileri” ödünç alan ya da veren kişilerin Site veya hizmetler yoluyla ibraz ettiği tüm bilgi ve içeriği kapsar. Kullanıcı Bilgileri, Kullanıcı sorumluluğundadır.
    Kayıt olurken, Kullanıcı Bilgileri’nin (Kullanıcı adı, e-posta adresi ve hizmete ulaşmak için kullanılacak olan şifre dahil ancak bunlarla sınırlı olmaksızın) eksiksiz, hatasız ve doğru biçimde doldurulmasını ve kayıt bilgilerinin güncel tutulacağını kabul etmiş sayılırsınız. Bunun sağlanmaması, Sözleşme’nin ihlali anlamına gelir ve Eşya Kütüphanesi hesabınızın kapatılması ile sonuçlanabilir.
    Kullanıcı, hesabında oluşan tüm aktivitelerden sorumlu ve yükümlüdür ve Eşya Kütüphanesi şifresinin gizliliğini korumakla görevlidir. İzni olmaksızın bir başkasının hesabı kullanılamaz.
    Eşya Kütüphanesi tüm Kullanıcı’larının, özellikle çocukların güvenlik ve gizliliğini korumak konusunda hassastır. Bu nedenle 13 yaşın altındaki çocukların, Eşya Kütüphanesi’ni kullanmalarına izin verilmemektedir.
    Eşya Kütüphanesi, herhangi bir durum ve zamanda, herhangi bir kişi ya da kuruma hizmeti sunmama ve uygunluk koşullarını değiştirme hakkını saklı tutar.
</p>
</br>

<h4>Kullanıcı Etkileşimleri</h4>

<p>
    Diğer Kullanıcı’lar ile iletişim sırasında tüm sorumluluk Kullanıcı’ya aittir. Eşya Kütüphanesi, Kullanıcı’ların birbirlerini tanımaları ve ödünç eylemine girecek eşyalar hakkında bilgi sahibi olmaları için bir platform sunar. Eşya Kütüphanesi, Kullanıcı’lar arasındaki herhangi bir işlem, değişim, ödünç ve iletişim konusunda taraf olmaz, sorumluluk almaz ve garanti sunmaz. Eşya Kütüphanesi, yükümlülüğü olmaksızın Kullanıcı’lar arasındaki etkileşimi gözlemleme hakkını elinde tutar.
    Eşya Kütüphanesi, Kullanıcı’ların kimliklerinin doğrulanması için bir garanti sunmaz. Etkileşime geçtiği diğer Kullanıcı’ların kimliklerinin doğrulanması ve kabulü ile etkileşime geçerken alınması gereken önlemler Kullanıcı sorumluluğundadır. Eşya Kütüphanesi, hizmeti kullanan kişiler hakkında bir araştırma yapmamaktadır. Kullanıcı’lar arasındaki ödünç ve her türlü ilişkiden doğabilecek zararlardan Eşya Kütüphanesi’nin sorumluluğu olmayacaktır. Kullanıcı’lar bu Sözleşme ile bu zararlardan Eşya Kütüphanesi’nin herhangi bir sorumluluğu olmadığını kabul taahhüt ve beyan eder.
</p>
</br>

<h4>İçerik ve Yönetim</h4>

<p>
    Eşya Kütüphanesi, Site ve hizmetler ile ilgili destek ve bakım sunmak yükümlülüğünde değildir.
    Kullanıcı Bilgileri haricinde, Site’de sunulan bilgiler, yazılar, resimler, markalar, slogan ve diğer işaretler ile sair sınai ve fikri mülkiyet hakları Eşya Kütüphanesi’nin mülkiyetindedir. Site’deki yazılım, donanım verilerinin ve içeriğin kısmen ya da tamamen kopyalanması, değiştirilmesi, yayınlanması, online ya da diğer bir medya kullanılmak suretiyle gönderimi, dağıtımı, satılması yasaktır.
    Eşya Kütüphanesi, herhangi bir zamanda, önceden bir ihtara gerek olmaksızın, Site ve hizmetleri değiştirme, tecil etme ve iptal etme hakkını saklı tutar. Bu Sözleşme ile, Eşya Kütüphanesi’nin herhangi bir değişiklik, tecil ya da iptal durumunda Kullanıcı’ya ya da herhangi bir üçüncü şahsa bir yükümlülüğü olmadığını kabul etmiş sayılırsınız.
    Site’deki bilgilerin doğruluğu ve güncelliği sürekli olarak kontrol edilmektedir, ancak teknik aksaklıklar ve gecikmeler olabilmektedir. Site üzerindeki bilgilerin güncelliği, doğruluğu, şartları, kalitesi, performansı, pazarlanabilirliği, belli bir amaca uygunluğu ve bunlarla sınırlı olmayan, diğer bilgi, hizmet veya ürünler hakkında taahhütte bulunulmamakta ve bunlarda oluşabilecek aksaklıklardan herhangi bir sorumluluğu bulunmamaktadır.
</p>
</br>

<h4>Sorumluluk Sınırlandırılması</h4>

<p>
    Eşya Kütüphanesi, Site kullanımı/ziyareti ve Site üzerindeki bilgi ve verilerin kullanılması esnasında doğabilecek doğrudan ya da dolaylı hiçbir zarardan sorumlu değildir. Eşya Kütüphanesi, Sözleşme ihlali, haksız fiil, ihmal veya diğer sebepler sonucunda işlemin kesintiye uğraması, hata, ihmal, kesinti hususunda herhangi bir sorumluluk kabul etmez.
    Kullanıcı’lar arasındaki anlaşmazlıklar durumunda Eşya Kütüphanesi, bu anlaşmazlıklardan doğan bilinen veya bilinmeyen, şüphelenilen ya da şüphelenilmeyen, bildirilmiş ya da bildirilmemiş herhangi iddia, talep ve zararlardan ayrı kılındığı kabul edilir.
</p>
</br>

<h4>Geribildirim</h4>

<p>
    Eşya Kütüphanesi’ne sunulan her türlü geribildirim ve öneri (“Geribildirim”) durumunda, Geribildirim üzerindeki hakların Eşya Kütüphanesi’ne geçmesine razı olunmuş kabul edilir ve Eşya Kütüphanesi bu Geribildirim ve bağlantılı bilgileri uygun gördüğü şekilde kullanma hakkını saklı tutar. Sunulan Geribildirim gizli olmayan ve tecilsiz kabul edilir.
</p>
</br>

<h4>Üçüncü Şahıs</h4>

<p>
    Site dahilinde, üçüncü şahıslar tarafından sağlanan hizmetlerden ve yayınlanan içeriklerden dolayı Eşya Kütüphanesi’nin sorumluluğu bulunmamaktadır. Eşya Kütüphanesi, bu hizmet ve içeriklerin güvenliğini, doğruluğunu ve hukuka uygunluğunu taahhüt etmemektedir. Herhangi bir üçüncü şahıs tarafından sağlanan ve yayınlanan bilgilerin ve içeriklerin, doğruluğu ve hukuka uygunluğunun taahhüdü, bütünüyle bu eylemleri gerçekleştiren üçüncü kişilerin sorumluluğundadır. Eşya Kütüphanesi, Kullanıcı tarafından Site’de paylaşılan bilgi ve içerikleri hiçbir neden göstermeksizin silme hakkını saklı tutar.
    Site bünyesinde bulunan başka websiteleri, hizmet veya kaynaklara sunulan bağlantılar Eşya Kütüphanesi tarafından kontrol edilmemektedir ve bu websitesi veya kaynakların içeriği, doğruluğu, yasallığı, uygunluğu veya herhangi başka özellikler Eşya Kütüphanesi’nin sorumluluğunun dışındadır.
</p>
</br>

{% endblock %}
