# Core
Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-script==2.0.5

# User & Login
Flask-Login==0.2.11
Flask-Oauth==0.12
Flask-Principal==0.4.0

# Admin
Flask-Admin==1.0.8
Flask-SuperAdmin==1.7.1

# Forms
Flask-WTF==0.10.2

# Communication
Flask-Mail==0.9.1

# Security
Flask-Security==1.7.4
