<p>
    Merhaba {{user}},
</p>
<p>
    Listelemek istediğin {{stuff}} onaylandı ve artık sitede!
    Listelemeni düzenlemek istersen Eşya Kütüphanem'e girerek
    "<a href="http://esyakutuphanesi.com/edit_stuff/{{stuff.id}}">düzenle</a>"ye tıklaman yeterli.
    Durma daha da listele, paylaştıkça hafifle!
</p>
<p>
    Güzel günler,
    <br>
    Eşya Kütüphanesi Ekibi
</p>
<p>
    <a href="http://esyakutuphanesi.com/"> esyakutuphanesi.com </a><br/>
    Twitter:<a href="https://twitter.com/esyakutuphanesi"> @EsyaKutuphanesi </a><br/>
    Facebook:<a href="https://facebook.com/EsyaKutuphanesi"> facebook.com/EsyaKutuphanesi </a><br/>
    Zumbara:<a href="http://zumbara.com/profil/12340"> zumbara.com/profil/12340</a>
</p>