<p>
    Merhaba {{user}},
</p>
<p>
    Listelediğin {{stuff}} başlıklı paylaşımını bu haliyle malesef onaylayamıyoruz.
</p>
<p>
    Eşya Kütüphanesi ödünç alıp vermeyi kolaylaştırmak için oluşturulmuş bir platform.
    Daha kolay ulaşılabilir olması için ödünç aradığın eşyaları tek tek eklemelisin.
</p>
<p>
    <a href="http://esyakutuphanesi.com/esyalarim"> Eşya kütüphanene</a> girerek eşyalarını listeleyebilirsin.
</p>
<p>
    Güzel günler,
    <br>
    Eşya Kütüphanesi Ekibi
</p>
<p>
    <a href="http://esyakutuphanesi.com/"> esyakutuphanesi.com </a><br/>
    Twitter: <a href="https://twitter.com/esyakutuphanesi">@EsyaKutuphanesi</a><br/>
    Facebook: <a href="https://facebook.com/EsyaKutuphanesi">facebook.com/EsyaKutuphanesi</a><br/>
    Zumbara: <a href="http://zumbara.com/profil/12340">zumbara.com/profil/12340</a>
</p>