<p>
    Merhaba {{user}},
</p>
<p>
    Listelediğin {{stuff}} paylaşımlarının ödünç mü yoksa hibe mi olduğunu anlayamadığımız için sana sormak istedik.
    Ödünç olarak listelediysen, bu e-postamıza bunu belirterek geri dönmen yeterli.
</p>
<p>
    Eşya Kütüphanesi şu an sadece ödünç alıp verme üzerine işliyor. Yani kısa süreliğine eşyanı ödünç veriyorsun,
    sonra geri alıyorsun. Eğer ödünç vermek istiyorsan bunu paylaşımının açıklamasında belirtebilirsin. :)
</p>
<p>
    Hibe ya da hediye etmek için <a href="http://verrr.com/"> Verrr.com</a> ve
    <a href="https://www.freecycle.org/search"> Freecycle</a> gibi oluşumları öneririz.
</p>
<p>
    Sitemizi inceleyerek <a href="http://esyakutuphanesi.com/sos"> sıkça sorulan sorulara</a> bakabilir,
    paylaşılan ya da hibe edilen kitaplara aracılık eden platformlarla ilgili daha detaylı bilgi için
    <a href="http://blog.esyakutuphanesi.com/kitaplar-candir/"> blogumuza</a> göz atabilir,
    <a href="http://esyakutuphanesi.com/esyalarim"> eşya kütüphanene</a> girerek paylaşımını güncelleyebilirsin.
</p>
<p>
    Güzel günler,
    <br>
    Eşya Kütüphanesi Ekibi
</p>
<p>
    <a href="http://esyakutuphanesi.com/"> esyakutuphanesi.com </a><br/>
    Twitter: <a href="https://twitter.com/esyakutuphanesi">@EsyaKutuphanesi</a><br/>
    Facebook: <a href="https://facebook.com/EsyaKutuphanesi">facebook.com/EsyaKutuphanesi</a><br/>
    Zumbara: <a href="http://zumbara.com/profil/12340">zumbara.com/profil/12340</a>
</p>