<p>
    Merhaba {{user}},
</p>
<p>
    Eşya Kütüphanesi, ödünç alıp vermeyi kolaylaştırmak için oluşturulmuş bir platformdur.
</p>
<p>
    Eşya Kütüphanesi olarak seni tanımak istiyoruz, bu yüzden aynı soruları bir kez daha soracağız :).
</p>
<p>
    Rica etsek bize biraz daha kendinden bahseder misin?
    En sevdiğin yemek hangisi? Neler yapmaktan hoşlanırsın? Yavru bir ejderhan olsa adını ne koyardın?
</p>
<p>
    Bu soruların amacı sitenin içerisinde organik bir topluluk oluşturmak.
    Sen de bizi daha yakından tanımak için <a href="http://esyakutuphanesi.com/masalgibi">hikayemizi</a>< okuyabilir ya da merak ettiklerini bize sorabilirsin.
</p>
<p>
    Güzel günler,
    <br>
    Eşya Kütüphanesi Ekibi
</p>
<p>
    <a href="http://esyakutuphanesi.com/"> esyakutuphanesi.com </a><br/>
    Twitter: <a href="https://twitter.com/esyakutuphanesi">@EsyaKutuphanesi</a><br/>
    Facebook: <a href="https://facebook.com/EsyaKutuphanesi">facebook.com/EsyaKutuphanesi</a><br/>
    Zumbara: <a href="http://zumbara.com/profil/12340">zumbara.com/profil/12340</a>
</p>