<p>Merhaba {{user.name}},</p>

<p>
    Eşya Kütüphanesi'ne hoşgeldin!
    Artık herhangi bir eşyaya ihtiyacın olduğunda topluluğumuzdan ödünç isteyebilirsin.
</p>

<p>
    Sen de paylaşmak istediğin eşyalarını görünür kılmak ve ihtiyacı olanın seni kolayca bulmasını sağlamak istersen,
    <a href="http://esyakutuphanesi.com/new_stuff"> "Eşya Paylaş"a </a>tıklayarak eşyalarını listeleyebilirsin.
</p>

<p>Unutmadan, <a href="http://esyakutuphanesi.com/invite"> arkadaşlarını </a> da aramızda görmeyi çok isteriz!</p>

<p>
    Güzel günler,
    <br>
    Eşya Kütüphanesi Ekibi
</p>
<p>
    <a href="http://esyakutuphanesi.com/">esyakutuphanesi.com</a><br/>
    Twitter: <a href="https://twitter.com/esyakutuphanesi">@EsyaKutuphanesi</a><br/>
    Facebook: <a href="https://facebook.com/EsyaKutuphanesi">facebook.com/EsyaKutuphanesi</a><br/>
    Zumbara: <a href="http://zumbara.com/profil/12340">zumbara.com/profil/12340</a>
</p>