{% macro render_item_box(stuff, user, is_wanted=False) -%}
{% if stuff.approved != -1 %}
    {% if not is_wanted %}
        <div class="item col-md-3 col-sm-3 col-xs-12" style="padding-right:7px; padding-left:7px;">
            <!--item-->
                <div class="thumbnail">
                    <a href="/show_stuff/{{stuff.id}}" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                        {%if stuff.photos%}
                            <img src="/static/photos/{{stuff.photos[0].filename}}"/>
                        {%else%}
                            <img src="/static/images/{{stuff.category_id}}.png"/>
                        {%endif%}
                    </a>
                    <a href="/show_stuff/{{stuff.id}}" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                        <div style="padding: 9px; color:white; background-color:#626262;">{{stuff}}</div>
                    </a>
                    <div class="caption">
                        <p style="font-size:12px; overflow: hidden;" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">{{stuff.detail |truncate(500)}}</p>
                        {%if user.is_authenticated()%}
                            <a href="/profile/{{stuff.owner.id}}">
                                <div style="border-top:1px solid #dddddd; padding-top:9px;">
                                    {% if stuff.owner.photo %}
                                        <img src="/photos/{{stuff.owner.photo}}" style="border-radius:50%; -moz-border-radius:50%; -webkit-border-radius: 50%; width:50px; height:50px;">
                                    {% else %}
                                        <img src="/static/images/ek.png" style="border-radius:50%; -moz-border-radius:50%; -webkit-border-radius: 50%; width:50px; height:50px;">
                                    {% endif %}
                                    <span style="font-size:12px; color:#333333; ">{{stuff.owner.name}}</span>
                                </div>
                            </a>
                        {% endif %}
                        <!--<p>
                            {%if user.is_authenticated()%}
                                {% if stuff.status == 1%}
                                    {% if user.id != stuff.owner_id %}
                                        <button type="button" style="width:100%;" class="btn btn-info" onclick="window.location.href='/show_stuff/{{stuff.id}}', _gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">Eşyayı gör</button>
                                    {% else %}
                                        {% if stuff.approved==0 %}
                                            <p class="alert-danger">Henüz onaylanmadı.</p>
                                        {% endif %}
                                        <button type="button" style="width:100%;" class="btn btn-warning" onclick="window.location.href='/edit_stuff/{{stuff.id}}', _gaq.push(['_trackEvent', 'Stuff', 'editStuff', 'Item_box Page'])">Düzenle/Kaldır</button>
                                    {%endif%}
                                {% else %}
                                    <button type="button" style="width:100%;" class="btn btn-info disabled">Ödünç verildi</button>
                                {% endif %}
                            {% else %}
                                <button type="button" style="width:100%;" class="btn btn-info" onclick="window.location.href='/login', _gaq.push(['_trackEvent', 'Visit stuff, unauthenticated user', 'seeStuffDetail', 'Item_box Page'])">Eşyayı gör</button>
                            {% endif %}
                        </p>-->
                    </div>
                </div>
        </div>
    {% else %}
        <div class="item col-md-6 col-sm-6 col-xs-12" style="padding-right:7px; padding-left:7px;">
            <div class="thumbnail" style="overflow:hidden;">
                <div class="col-md-3 col-sm-3 col-xs-12" style="margin:0px; padding:0px;">
                    <a href="/show_stuff/{{stuff.id}}" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                        {%if stuff.photos%}
                            <img src="/static/photos/{{stuff.photos[0].filename}}"/>
                        {%else%}
                            <img src="/static/images/{{stuff.category_id}}.png"/>
                        {%endif%}
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12" style="margin:0px; padding:0px;">
                    <a href="/show_stuff/{{stuff.id}}" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                        <div style="padding: 15px 9px 0px; color:black; font-size:16px;">{{stuff.title |truncate(30, True) }}</div>
                    </a>
                    <div class="caption">
                        <p style="font-size:12px; overflow: hidden;" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                            {{stuff.detail |truncate(80, True)}}
                            <a href="/show_stuff/{{stuff.id}}" onclick="_gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">
                                Eşyayı gör
                            </a>
                        </p>
                        <!--<p>
                            {%if user.is_authenticated()%}
                                {% if stuff.status == 1%}
                                    {% if user.id != stuff.owner_id %}
                                        <button type="button" style="width:100%;" class="btn btn-info" onclick="window.location.href='/show_stuff/{{stuff.id}}', _gaq.push(['_trackEvent', 'Visit stuff', 'seeStuffDetail', 'Item_box Page'])">Eşyayı gör</button>
                                    {% else %}
                                        {% if stuff.approved==0 %}
                                            <p class="alert-danger">Henüz onaylanmadı.</p>
                                        {% endif %}
                                        <button type="button" style="width:100%;" class="btn btn-warning" onclick="window.location.href='/edit_stuff/{{stuff.id}}', _gaq.push(['_trackEvent', 'Stuff', 'editStuff', 'Item_box Page'])">Düzenle/Kaldır</button>
                                    {%endif%}
                                {% else %}
                                    <button type="button" style="width:100%;" class="btn btn-info disabled">Ödünç verildi</button>
                                {% endif %}
                            {% else %}
                                <button type="button" style="width:100%;" class="btn btn-info" onclick="window.location.href='/login', _gaq.push(['_trackEvent', 'Visit stuff, unauthenticated user', 'seeStuffDetail', 'Item_box Page'])">Eşyayı gör</button>
                            {% endif %}
                        </p>-->
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endif %}
{% endmacro %}