{% extends "security/header.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, social_login %}
{% block title %}Esya Kutuphanesi{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-bottom:40px;">Şifre sıfırlamak için gerekli bilgileri gönderin</h4>
    <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-3">
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
                <label for="email" class="control-label"><label for="email">E-posta adresi</label></label>
            {{ render_field_with_errors(forgot_password_form.email,label_visible=False) }}
                <!--{{ render_field(forgot_password_form.submit) }}-->
            {{ forgot_password_form.submit(class_='btn btn-success pull-right', value="Gönder")}}
        </form>
    </div>
{% endblock %}