{% extends "layout.html" %}
{% block header %}

<div class="col-sm-10 col-sm-offset-1">
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header ">
        <a class="navbar-brand" href="/">
            <img src="/static/images/yeni/logo.png" srcset="/static/images/yeni/logo@2x.png 2x, /static/images/yeni/logo.png 1x,"/>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
          <div id="types" class="btn-group" style="float:right; margin-top:24px;">
            <button name="color" type="button" class="btn" style=" height:40px; cursor:pointer;
    color: #929090;
    background-color: #ffffff;
    border-color: #bcbcbc;" onclick="window.location.href='/login'">Giriş Yap</button>
<!--             <button name="color" type="button" class="btn" style=" height:40px; cursor:pointer;
    color: #ffffff;
    background-color: #48bfbf;
    border-color: #bcbcbc;" onclick="window.location.href='/register'">Üye Ol</button>
          </div> -->
      </div><!-- /.navbar-collapse -->

    </nav>
</div>

<div style="width: 100%;
position: absolute;
top: 88px;
z-index: 1;
color: white;
font-size: 15px;
font-family: helvetica;
float: left; padding: 1% 0 1% 8%; background: rgba(0,0,0,0.3);">
    <ul style="list-style:none;">
        <li style="float:left; padding-right:20px;">
            <a href="/nasil_calisir" style="color:white; text_decoration:none;">
                NASIL ÇALIŞIR?
            </a>
        </li>

        <li style="float:left; padding-right:20px;">
            <a href="http://blog.esyakutuphanesi.com/" style="color:white; text_decoration:none;" target="_blank">
                BLOG
            </a>
        </li>

        <li style="float:left; padding-right:20px;">
            <a href="/iletisim" style="color:white; text_decoration:none;">
                İLETİŞİM
            </a>
        </li>
    </ul>
</div>

{% endblock %}