{% extends "security/header.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_checkbox_with_errors, render_field, social_login %}
{% block title %}Esya Kutuphanesi{% endblock %}
{% block content %}

<div class="col-md-12">
    <!--<div class="row text-center">{{ social_login('facebook', 'Facebook' )}}</div>
    <div class="row text-center" style="margin:20px auto;">--------------veya--------------</div>-->

    <div class="text-left login-info-image">
        Marhaba yabancı! Seni aramızda görmek ne güzel! Eşya Kütüphansi'ne üye olmak için aşağıdaki formu doldurman gerekiyor.
        Burada verdiğin cevaplar topluluğun seni tanımasını sağlayacak ve profil sayfanda görünecek. Ve evet,
        gerçekten tüm cevapları tek tek okuyoruz :)
    </div>
    <div class="login-image-style"></div>

    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        <div class="col-md-6">
            {{ render_field_with_errors(register_user_form.name,label_visible=False, placeholder="İsim Soyisim") }}
            {{ render_field_with_errors(register_user_form.password,label_visible=False, placeholder="Şifre") }}
            <label for="why" class="control-label">
                <label for="why">Neden Eşya Kütüphanesi?</label>
            </label>
            {{ render_field_with_errors(register_user_form.why, label_visible=False, placeholder=register_user_form.why.label.text) }}
            {{ render_checkbox_with_errors(register_user_form.agreement, label_visible=False) }}
            <label for="user_aggreement" class="control-label">
                <label for="user_aggreement">
                    <a href="/user_agreement" target="_blank" onclick="_gaq.push(['_trackEvent', 'User agreement link', 'click', 'Register_user Page'])">Kullanıcı sözleşmesini</a> okudum, onaylıyorum.
                </label>
            </label>
        </div>

        <div class="col-md-6">
            {{ render_field_with_errors(register_user_form.email,label_visible=False, placeholder="E-posta") }}
            {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm,label_visible=False, placeholder="Şifre tekrar") }}
            {% endif %}
            <label for="about" class="control-label">
                <label for="about">Sevdiklerin</label>
            </label>
            {{ render_field_with_errors(register_user_form.about, label_visible=False, placeholder=register_user_form.about.label.text) }}
            {{ register_user_form.submit(class_='btn btn-success pull-right', value="Tamamla")}}
        </div>

    </form>
    <div class="col-md-12 col-sm-12 text-right" style="margin-top:10px;">
        Zaten üye misin?
        <a href="/login" onclick="_gaq.push(['_trackEvent', 'Login', 'loginButton', 'Register_user Page'])">Giriş Yap</a>
    </div>
</div>
{% endblock %}