{% extends "security/header.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_checkbox_with_errors, render_field, social_login %}
{% block title %}Esya Kutuphanesi{% endblock %}
{% block content %}

    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 margin-top70">
        <div class="text-center login-info-image">
            Merhaba dost, seni aramızda görmek ne güzel!
            Eşya Kütüphanesi'ne üye olmak için aşağıdaki formu doldurman gerekiyor.
            Verdiğin cevaplar topluluğumuzun seni tanımasını sağlayacak ve profil sayfanda görünecek.
            Ve evet, gerçekten tüm cevapları tek tek okuyoruz.
        </div>
        <div class="login-image-style"></div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <!--<div class="row text-center">{{ social_login('facebook', 'Facebook' )}}</div>
        <div class="row text-center" style="margin:20px auto;">--------------veya--------------</div>-->

        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {{ render_field_with_errors(register_user_form.name,label_visible=False, placeholder="İsim Soyisim") }}
                    </div>
                </div>

                {{ render_field_with_errors(register_user_form.email,label_visible=False, placeholder="E-posta") }}

                <label for="why" class="control-label">
                    <label for="why">Neden Eşya Kütüphanesi?</label>
                </label>

                {{ render_field_with_errors(register_user_form.why, label_visible=False, placeholder=register_user_form.why.label.text) }}
            </div>

            <div class="col-sm-6">
                {{ render_field_with_errors(register_user_form.password,label_visible=False, placeholder="Şifre") }}

                {% if register_user_form.password_confirm %}
                    {{ render_field_with_errors(register_user_form.password_confirm,label_visible=False, placeholder="Şifre tekrar") }}
                {% endif %}

                <label for="about" class="control-label">
                    <label for="about">Sevdiklerin</label>
                </label>
                {{ render_field_with_errors(register_user_form.about, label_visible=False, placeholder=register_user_form.about.label.text) }}

                {{ render_checkbox_with_errors(register_user_form.agreement, label_visible=False) }}
                <label for="user_aggreement" class="control-label">
                    <label for="user_aggreement">
                        <a href="/kullanici_sozlesmesi" target="_blank" onclick="_gaq.push(['_trackEvent', 'User agreement link', 'click', 'Register_user Page'])">Kullanıcı sözleşmesini</a> okudum, onaylıyorum.
                    </label>
                </label>

                {{ register_user_form.submit(class_='btn btn-success pull-right', value="Tamamla")}}
            </div>

        </form>
        <div class="col-sm-12 col-sm-12 text-right" style="clear: both; margin-top:10px;">
            Zaten üye misin?
            <a href="/login" onclick="_gaq.push(['_trackEvent', 'Login', 'loginButton', 'Register_user Page'])">Giriş Yap</a>
        </div>
    </div>

{% endblock %}